<h2 align='center'><font color='maroon'>Worksheet-3 | GNE- 1844</font>

<h1 align='center'><font color='red'>WEB SCRAPING – ASSIGNMENT 2</font></h1>

In [1]:
#importing all required libraries for all the questions.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

<h3><font color='green'><b>Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.</h3><h4><font color='green'>
<br>This task will be done in following steps:
<br>1. First get the webpage https://www.naukri.com/
<br>2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
<br>3. Then click the search button.
<br>4. Then scrape the data for the first 10 jobs results you get.
<br>5. Finally create a dataframe of the scraped data.
<br>Note: All of the above steps have to be done in code. No step is to be done manually.

In [67]:
hero=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

<h4><font color='maroon'> Q1.1 Opening the website in the automated window.

In [68]:
hero.get("https://www.naukri.com/")

<h4><font color='maroon'> Q1.2 Automating the search fields to show results for "Data Analyst" in "Bangalore"

In [69]:
designition=hero.find_element(By.CLASS_NAME,"suggestor-input")
designition.send_keys("Data Analyst")

In [70]:
location=hero.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

<h4><font color='maroon'> Q1.3 Automating the click on submit to query in the search results

In [71]:
search=hero.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

<h4><font color='maroon'> Q1.4 Scraping the Data from the results in the automated window.

In [72]:
#Initialising Empty Lists to store the data.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
package=[]
skills=[]
comments=[]
url=[]

In [73]:
title_tags= hero.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]') 
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

loc_tags=hero.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    loc=i.text
    job_location.append(loc)

company_tags=hero.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=hero.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
pack=hero.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in pack[0:10]:
    age=i.text
    package.append(age)
    
skill=hero.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skill[0:10]:
    set=i.text
    skills.append(set)  
    
comm=hero.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in comm[0:10]:
    ments=i.text
    comments.append(ments)
    

urls= hero.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]') 
for i in urls[0:10]:
    links=i.get_attribute('href')
    url.append(links)

In [74]:
#checking for the length of each list, to ensure it has captured all the necessary data
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(url),len(comments),len(package),len(skills))

10 10 10 10 10 10 10 10

<h4><font color='maroon'> Q1.5 Displaying all the captured data as a Dataframe.

In [75]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location, 'Company Name':company_name, 'Experience Required':experience_required,'Skillset Required':skills,'Comments':comments,'URL':url})
df

,Job Title,Job Location,Company Name,Experience Required,Skillset Required,Comments,URL
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs,Business Analysis\nIT Skills\nOracle\nTableau\...,Willing / able to work staggered shifts to all...,https://www.naukri.com/job-listings-contractua...
1,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs,Data Analytics\nExcel\nSAS\nSQL,"Masters in Statistics, Economics, Engineering ...",https://www.naukri.com/job-listings-data-analy...
2,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs,Python\nSQL,Proficient at writing queries / reports and pr...,https://www.naukri.com/job-listings-senior-dat...
3,Data Analyst,Bangalore/Bengaluru,Augie Pets India Pvt limited,0-3 Yrs,Market analysis\nUsage\nExcel\nData collection...,Responsible for co-ordinating data with other ...,https://www.naukri.com/job-listings-data-analy...
4,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs,MIS\nData Analysis\nCommunication Skills\nMont...,Good communication & comprehending skills3 Yea...,https://www.naukri.com/job-listings-data-analy...
5,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs,data analysis\ndata mining\nmachine learning\n...,Experience in using statistical analysis for p...,https://www.naukri.com/job-listings-byju-s-dbe...
6,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs,Python Data Analytics\nData Analysis\nSQL Data...,Bachelors or masters degree required in any di...,https://www.naukri.com/job-listings-sr-data-an...
7,Data Analyst,"Bangalore/Bengaluru, Chennai",Botree Software,1-5 Yrs,Power BI\nData Visualization\nquantitative ana...,"In this role, you are required to analyze a la...",https://www.naukri.com/job-listings-data-analy...
8,Business Data Analyst,Bangalore/Bengaluru,Varite,8-11 Yrs,Data analysis\nmetadata\nData management\nMach...,Essential Functions: - Build Machine learning ...,https://www.naukri.com/job-listings-business-d...
9,Senior Data Analyst - KPO,"Bangalore/Bengaluru, Gurgaon/Gurugram, Gurgaon...",Huquo Consulting Pvt. Ltd,7-12 Yrs,Data Modeling\nSQL\nBFSI\nData Management\nCon...,Must understand data models: Technically able ...,https://www.naukri.com/job-listings-senior-dat...

<h3><font color='green'><b>Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. </h3><h4><font color='green'>
    You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
<br>This task will be done in following steps:
<br>1. First get the webpage https://www.naukri.com/
<br>2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
<br>3. Then click the search button.
<br>4. Then scrape the data for the first 10 jobs results you get.
<br>5. Finally create a dataframe of the scraped data.
<br>Note: All of the above steps have to be done in code. No step is to be done manually

In [40]:
naukri=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

<h4><font color='maroon'> Q2.1 Opening the website in the automated window.

In [41]:
naukri.get("https://www.naukri.com/")

<h4><font color='maroon'> Q2.2 Automating the search fields to show results for "Data Scientist" in "Bangalore"

In [43]:
designition2=naukri.find_element(By.CLASS_NAME,"suggestor-input")
designition2.send_keys("Data Scientist")

In [44]:
location2=naukri.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location2.send_keys("Bangalore")

<h4><font color='maroon'> Q2.3 Automating the click on submit to query in the search results

In [45]:
search2=naukri.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

<h4><font color='maroon'> Q2.4 Scraping the Data from the results in the automated window.

In [61]:
#Initialising Empty Lists to store the data.
j_title=[]
j_location=[]
c_name=[]
exp_required=[]
pkge=[]
skillset=[]
description=[]
url2=[]

In [62]:
t_tags= naukri.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]') 
for i in t_tags[0:10]:
    ttle=i.text
    j_title.append(ttle)

l_tags=naukri.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in l_tags[0:10]:
    lic=i.text
    j_location.append(lic)

c_tags=naukri.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c_tags[0:10]:
    cmpny=i.text
    c_name.append(cmpny)
    
exp_tags=naukri.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tags[0:10]:
    exper=i.text
    exp_required.append(exper)
    
pk=naukri.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in pk[0:10]:
    cage=i.text
    pkge.append(cage)
    
ski=naukri.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in ski[0:10]:
    st=i.text
    skillset.append(st)  
    
desc=naukri.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in desc[0:10]:
    tion=i.text
    description.append(tion)
    

urll= naukri.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]') 
for i in urll[0:10]:
    lnks=i.get_attribute('href')
    url2.append(lnks)

In [63]:
#checking for the length of each list, to ensure it has captured all the necessary data
print(len(j_title),len(j_location),len(c_name),len(exp_required),len(url2),len(description),len(pkge),len(skillset))

10 10 10 10 10 10 10 10

<h4><font color='maroon'> Q2.5 Displaying all the captured data as a Dataframe.

In [76]:
df2=pd.DataFrame({'Job Title':j_title,'Job Location':j_location, 'Company Name':c_name, 'Experience Required':exp_required,'Skillset Required':skillset,'Comments':description,'URL':url2})
df2

,Job Title,Job Location,Company Name,Experience Required,Skillset Required,Comments,URL
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs,deep learning\npython\ndata analysis\ndata sci...,Greetings of the Day!!!We have an opportunity ...,https://www.naukri.com/job-listings-opportunit...
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs,Data Science\nNLP\nMachine Learning\nDeep Lear...,"Work with OMICs, image, med device and RWE dat...",https://www.naukri.com/job-listings-assistant-...
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs,Bfsi\nConsulting\nMachine learning\nOpen sourc...,This role will be a part of Survey Solutions a...,https://www.naukri.com/job-listings-analystics...
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs,Data Science\nArtificial Intelligence\nMachine...,"Dear All, We have urgent requirement for Data ...",https://www.naukri.com/job-listings-hiring-for...
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk,5-10 Yrs,Celonis\nPower Bi\nProcess Mining\npython\nR\n...,We Offer:This position offers the unique oppor...,https://www.naukri.com/job-listings-data-scien...
5,Principal Data Scientist,Bangalore/Bengaluru,Optum,10-15 Yrs,data science\nmachine learning\nNLP\ndocumenta...,looking for a Principal Machine Learning Scien...,https://www.naukri.com/job-listings-principal-...
6,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree,7-12 Yrs,deep learning\npython\nCloud Services\ncompute...,Job Title: Data Scientist/ Senior Data Scienti...,https://www.naukri.com/job-listings-data-scien...
7,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs,deep learning\nLinux\ndata science\nAnalytical...,10 years experience in data science and MLAcad...,https://www.naukri.com/job-listings-lead-ml-sc...
8,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs,python\nmachine learning\nPower Bi\nTableau\nN...,"Programming exp in Python, Spark and Experienc...",https://www.naukri.com/job-listings-tcs-hiring...
9,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.,3-6 Yrs,Python\nData Analytics\nJava\nIT Skills\nBusin...,Have experience with working and deploying sta...,https://www.naukri.com/job-listings-data-scien...

<h3><font color='green'>Q3: In this question you have to scrape data using the filters available on the webpage as shown below:</h3><h4><font color='green'>
You have to use the location and salary filter.
<br>You have to scrape data for “Data Scientist” designation for first 10 job results.
<br>You have to scrape the job-title, job-location, company name, experience required.
<br>The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
<br>The task will be done as shown in the below steps:
<br>1. first get the webpage https://www.naukri.com/
<br>2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
<br>3. Then click the search button.
<br>4. Then apply the location filter and salary filter by checking the respective boxes
<br>5. Then scrape the data for the first 10 jobs results you get.
<br>6. Finally create a dataframe of the scraped data.
<br>Note: All of the above steps have to be done in code. No step is to be done manually.

In [88]:
filtr=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

<h4><font color='maroon'> Q3.1 Opening the website in the automated window.

In [119]:
filtr.get("https://www.naukri.com/")

<h4><font color='maroon'> Q3.2 Automating the search fields to show results for "Data Scientist" in "Bangalore"

In [120]:
designition2=filtr.find_element(By.CLASS_NAME,"suggestor-input")
designition2.send_keys("Data Scientist")

<h4><font color='maroon'> Q3.3 Automating the click on submit to query in the search results

In [121]:
search2=filtr.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

<h4><font color='maroon'> Q3.4 Automating the click on Job location and salary range in filter

In [122]:
loc1=filtr.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
loc1.click()

In [123]:
sal1=filtr.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
sal1.click()

<h4><font color='maroon'> Q3.4 Scraping the Data from the results in the automated window.

In [135]:
#Initialising Empty Lists to store the data.
job1_title=[]
job1_location=[]
company1_name=[]
exp_req1=[]

In [136]:
j1_tags= filtr.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]') 
for i in j1_tags[0:10]:
    ttle=i.text
    job1_title.append(ttle)

l1_tags=filtr.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
for i in l1_tags[0:10]:
    loc=i.text
    job1_location.append(loc)
    
c1_tags=filtr.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c1_tags[0:10]:
    cmpny=i.text
    company1_name.append(cmpny)
    #//div[@class="mt-7 companyInfo subheading lh16"]
    
exp_tags1=filtr.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tags1[0:10]:
    exper=i.text
    exp_req1.append(exper)

In [137]:
#checking for the length of each list, to ensure it has captured all the necessary data
print(len(job1_title),len(job1_location),len(company1_name),len(exp_req1))

10 10 10 10

<h4><font color='maroon'> Q3.5 Displaying all the captured data as a Dataframe.

In [138]:
df3=pd.DataFrame({'Job Title':job1_title,'Job Location':job1_location, 'Company Name':company1_name, 'Experience Required':exp_req1})
df3

,Job Title,Job Location,Company Name,Experience Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
2,Lead Data Scientist,Noida(Sector-59 Noida),R Systems International,7-10 Yrs
3,Data Scientist - Predictive Analytics,(WFH during Covid),Confidential,1-6 Yrs
4,Data Scientist For Healthcare Product team,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist,"Delhi / NCR, Chennai, Bangalore/Bengaluru",4i Odc,2-4 Yrs
6,Data Scientist - Engine Algorithm,Noida,Primo Hiring,1-3 Yrs
7,Jr. Data Scientist,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Dataflow,2-5 Yrs
8,Data Scientist,Noida,Mount Talent Consulting Private Limited,2-4 Yrs
9,Urgent Hiring- Expertise in Data Scientist in ...,"Delhi / NCR, Pune, Bangalore/Bengaluru",CLARITY CONSULTING,3-8 Yrs

<h3><font color='green'>Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:</h3>
<h4><font color='green'>
1. Brand
<br>2. Product Description
<br>3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
<br>1. Go to Flipkart webpage by url : https://www.flipkart.com/
<br>2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
<br>3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
<br>4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
<br>5. Now scrape data from this page as usual
<br>6. Repeat this until you get data for 100 sunglasses.
<br>Note: That all of the above steps have to be done by coding only and not manually.

<h4><font color='maroon'> Q4.1 Opening the website in the automated window.

In [140]:
web=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [141]:
web.get("https://www.flipkart.com/")

In [143]:
byp=web.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
byp.click()

In [146]:
search2=web.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search2.send_keys("sunglasses")

In [148]:
search2=web.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search2.click()

In [193]:
brand_glasses=[]
cost_glasses=[]
info_glasses=[]

In [194]:
start=0
end=3
for page4 in range(start,end):
    glass=web.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in glass:
        brand_glasses.append(i.text)
    next_button=web.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [195]:
start=0
end=3
for page4 in range(start,end):
    glass_price=web.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in glass_price:
        cost_glasses.append(i.text)
    next_button=web.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [196]:
start=0
end=3
for page4 in range(start,end):
    info=web.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in info:
        info_glasses.append(i.text)
    next_button=web.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [188]:
len(brand_glasses)

120

In [198]:
df3=pd.DataFrame({'BRAND':brand_glasses[:100],'INFORMATION':info_glasses[:100],'PRICE':cost_glasses[:100]})
df3

             BRAND                                        INFORMATION PRICE
0           SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  ₹949
1        ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹999
2         Fastrack             UV Protection Wayfarer Sunglasses (56)  ₹264
3    VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹639
4   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹799
..             ...                                                ...   ...
95  ROZZETTA CRAFT  by Lenskart Polarized, UV Protection Round Sun...  ₹899
96    CRYSTAL CART  Mirrored, Night Vision Oval Sunglasses (Free S...  ₹199
97        Fastrack             UV Protection Wayfarer Sunglasses (55)  ₹719
98  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹499
99        Roadster  UV Protection, Gradient Rectangular Sunglasses...  ₹999

[100 rows x 3 columns]

<h3><font color='green'>Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:</h3><h4><font color='green'>
1. First get the webpage https://www.flipkart.com/
<br>2. Enter “iphone 11” in “Search” field .
<br>3. Then click the search button.
<br>You will reach to the below shown webpage .
<br>As shown in the above page you have to scrape the tick marked attributes.These are:
<br>1. Rating
<br>2. Review summary
<br>3. Full review
<br>4. You have to scrape this data for first 100 reviews.
<br>Note: All the steps required during scraping should be done through code only and not manually

<h4><font color='maroon'> Q5.1 Opening the website in the automated window.

In [97]:
web5=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [98]:
web5.get("https://www.flipkart.com/")

<h4><font color='maroon'> Q5.2 Automating the search fields to show results

In [99]:
#Bypassing Signin Splash Screen
byp5=web5.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
byp5.click()

In [100]:
#search for iphone
search5=web5.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search5.send_keys("iphone 11")

In [101]:
#Click search
search5b=web5.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search5b.click()

In [102]:
#initialising 
newtab=[]
rating=[]

In [103]:
#getting link to open in new tab
url1= web5.find_elements(By.XPATH,'//a[@class="_1fQZEK"]') 
for i in url1[0:1]:
    lnks=i.get_attribute('href')
    newtab.append(lnks)

In [104]:
#pasting link in new tab
str1=''.join([str(elem) for elem in newtab])

In [105]:
#open new tab in the same window
web5.execute_script("window.open('');")

In [106]:
#switch tabs
web5.switch_to.window(web5.window_handles[1])
web5.get(str1)

<h4><font color='maroon'> Q5 Extracting Information

In [108]:
rate= web5.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/div[2]/div[1]/div/div[1]/div/div[1]/div') 
for i in rate:
    ttle=i.text
    rating.append(ttle)

In [109]:
rating

['4.6★']

In [110]:
review_summary=[]
stars=[]

In [111]:
star= web5.find_elements(By.XPATH,'//li[@class="_28Xb_u"]') 
for i in star[0:5]:
    ttle=i.text
    stars.append(ttle)

reviews= web5.find_elements(By.XPATH,'//li[@class="_28Xb_u"]') 
for i in reviews[10:15]:
    ttle=i.text
    review_summary.append(ttle)

In [112]:
reviews_df=pd.DataFrame({"STAR":stars,"REVIEWS":review_summary})
reviews_df

  STAR REVIEWS
0   5★  72,447
1   4★  13,039
2   3★   3,081
3   2★   1,126
4   1★   3,685

In [113]:
get_reviews=[]

In [114]:
get_r= web5.find_elements(By.XPATH,'//div[@class="col JOpGWq"]//a') 
for i in get_r[:1]:
    lnks=i.get_attribute('href')
    get_reviews.append(lnks)

In [115]:
get_reviews

['https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&aid=dc0f2b2d-7619-44cc-b5fc-2fe3e4d453a7&mid=FLIPKART&fid=f6215942-ca9a-42c5-ba64-6b058f6ecda5.MOBFWQ6BVWVEH3XE&an=Camera&cat=Mobile&vert=Handset']

In [116]:
str2=''.join([str(elem) for elem in get_reviews])

In [117]:
web5.switch_to.window(web5.window_handles[1])
web5.get(str2)

In [119]:
search5b=web5.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[1]/div[2]/div/div/a[1]")
search5b.click()

In [137]:
review_comp_star=[]
review_comp_summary=[]
review_comp_full=[]

In [141]:
start=0
end=10
for page5b in range(start,end):
    reviewsb=web5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in reviewsb:
        review_comp_star.append(i.text)
    next_button5=web5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

In [140]:
start=0
end=10
for page5b in range(start,end):
    reviewsb=web5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewsb:
        review_comp_summary.append(i.text)
    next_button5=web5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

In [138]:
start=0
end=10
for page5b in range(start,end):
    reviewsb=web5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in reviewsb:
        review_comp_full.append(i.text)
    next_button5=web5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

<h4><font color='maroon'> Creating Dataframe

In [143]:
df5=pd.DataFrame({'Rating':review_comp_star,'Review Summary':review_comp_summary,'Full Review':review_comp_full})
df5

,Rating,Review Summary,Full Review
0,5,Simply awesome,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Best in the market!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,It is just awesome mobile for this price from ...
4,5,Highly recommended,"Smooth like butter, camera like fantabulous, s..."
...,...,...,...
95,5,Perfect product!,This is my first iOS phone. I am very happy wi...
96,5,Highly recommended,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Terrific,"i11 is worthy to buy, too much happy with the ..."
98,5,Wonderful,It's my first time to use iOS phone and I am l...
99,5,Worth every penny,So far it’s been an AMAZING experience coming ...

<h3><font color='green'>Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.</h3><h4><font color='green'>
You have to scrape 4 attributes of each sneaker:
<br>1. Brand
<br>2. Product Description
<br>3. Price
<br>As shown in the below image, you have to scrape the tick marked attributes.
<br>Note: All the steps required during scraping should be done through code only and not manually.

<h4><font color='maroon'> Automating of the browser and webpage to search for desired product

In [490]:
fpkt=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [358]:
fpkt.get("https://www.flipkart.com/")

In [146]:
byp6=fpkt.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
byp6.click()

In [148]:
search6=fpkt.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search6.send_keys("sneakers")

In [149]:
search6b=fpkt.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search6b.click()

In [254]:
#initialising lists
sneaker_brand=[]
sneaker_desc=[]
sneaker_disc=[]
sneaker_price=[]

<h4><font color='maroon'> Extraction of data

In [258]:
start=0
end=3
for page6 in range(start,end):
    reviewsb=fpkt.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in reviewsb:
        sneaker_brand.append(i.text)
    next_button5=fpkt.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

In [239]:
start=0
end=3
#//div[@id='id-74385'][@class='guest clearfix']

#a='//a[@class="IRpwTa _2-ICcC"]''//a[@class="IRpwTa"]'and'//a[@class="IRpwTa _2-ICcC"]'
#b='//a[@class="IRpwTa"]'
for page6 in range(start,end):
    reviewsb=fpkt.find_elements(By.XPATH,'//a[@class="IRpwTa"]'and'//a[@class="IRpwTa _2-ICcC"]')
    for i in reviewsb:
        sneaker_desc.append(i.text)
    next_button5=fpkt.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)
    
    #unable to put "verified" and normal attributes in one list.------redo!!!!!!!!!!

In [262]:
start=0
end=3

for page6 in range(start,end):
    reviewsb=fpkt.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in reviewsb:
        sneaker_disc.append(i.text)
    next_button5=fpkt.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

In [263]:
len(sneaker_disc)

120

In [255]:
start=0
end=3

for page6 in range(start,end):
    reviewsb=fpkt.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in reviewsb:
        sneaker_price.append(i.text.split('₹').pop(1))
    next_button5=fpkt.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3)

In [267]:
sneaker_price2 = ['₹ ' + sub for sub in sneaker_price]

<h4><font color='maroon'> Displaying extracted data as Dataframe

In [268]:
df6=pd.DataFrame({'BRAND':sneaker_brand[:100],'TOTAL DISCOUNT':sneaker_disc[:100],'FINAL PRICE':sneaker_price2[:100]})
df6

      BRAND TOTAL DISCOUNT FINAL PRICE
0      PORT        85% off       ₹ 299
1     BIRDE        55% off       ₹ 447
2     Sparx        15% off       ₹ 709
3    Layasa        77% off       ₹ 229
4    Layasa        60% off       ₹ 399
..      ...            ...         ...
95    Xtoon        70% off       ₹ 559
96     aadi        68% off       ₹ 199
97  Fzzirok        50% off       ₹ 389
98   BRUTON        82% off       ₹ 599
99   Shozie        60% off       ₹ 399

[100 rows x 3 columns]

<h3><font color='green'>Q7: Go to the link - https://www.myntra.com/shoes</h3><h4><font color='green'>
Set second Price filter and Color filter to “Black”, as shown in the below image.
<br>And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
<br>description, price of the shoe as shown in the below image.
<br>Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

<h4><font color='maroon'> Automate launch of web browser and searching for product

In [403]:
myn=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [404]:
myn.get("https://www.myntra.com/shoes")

In [405]:
black7=myn.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]")
black7.click()

In [406]:
blackshoe_brand=[]
blackshoe_desc=[] 
blackshoe_price=[]

<h4><font color='maroon'> Extraction of Data

In [407]:
start=0
end=2

for page7 in range(start,end):
    reviewsb=myn.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]//h3')
    for i in reviewsb:
        blackshoe_brand.append(i.text)
    next_button5=myn.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
    next_button5.click()
    time.sleep(3)

In [408]:
len(blackshoe_brand)

100

In [409]:
page1=myn.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
page1.click()

In [410]:
start=0
end=2

for page7 in range(start,end):
    reviewsb=myn.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]//h4')
    for i in reviewsb:
        blackshoe_desc.append(i.text)
    next_button5=myn.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button5.click()
    time.sleep(3)

In [411]:
blackshoe_desc[:5]

['Men Rep Flex-1 Training Shoes',
 '',
 'Embellished Velvet Wedge Sandals',
 '',
 'Men ENIGMA Running Shoes']

In [412]:
res = [i for i in blackshoe_desc if i != '']

In [429]:
res[:5]

['Men Rep Flex-1 Training Shoes',
 'Embellished Velvet Wedge Sandals',
 'Men ENIGMA Running Shoes',
 'Women Fly Sneakers',
 'Kids Revolution 4 Running']

In [414]:
page1=myn.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
page1.click()

In [415]:
start=0
end=2

for page7 in range(start,end):
    reviewsb=myn.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]//div')
    for i in reviewsb:
        blackshoe_price.append(i.text)
    next_button5=myn.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button5.click()
    time.sleep(3)

In [428]:
(blackshoe_price)[:5]

['Rs. 1529Rs. 5099(70% OFF)',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 1619Rs. 5399(70% OFF)',
 'Rs. 1294Rs. 3699(65% OFF)',
 'Rs. 3024Rs. 5499(45% OFF)']

In [424]:
blackshoe2=[i.split('Rs.', 2)[1] for i in blackshoe_price]

In [425]:
blackshoe_price2 = ['₹ ' + sub for sub in blackshoe2]

In [427]:
blackshoe_price2[:5]

['₹  1529', '₹  9349', '₹  1619', '₹  1294', '₹  3024']

<h4><font color='maroon'> Displaying Extracted Data in Dataframe

In [488]:
df7=pd.DataFrame({'BRAND':blackshoe_brand[:100],'Description':res[:100],'FINAL PRICE':blackshoe_price2[:100]})
df7

       BRAND                     Description FINAL PRICE
0   Red Tape               Men Walking Shoes     ₹  1349
1   Roadster                    Men Sneakers      ₹  872
2       Nike  Men Revolution 5 Running Shoes     ₹  3695
3       Puma          Men Enzo Running Shoes     ₹  3024
4     FAUSTO            Men Slip-On Sneakers      ₹  890
..       ...                             ...         ...
95   ZAPATOZ               Women PU Sneakers      ₹  798
96  Red Tape         Men Leather Biker Boots     ₹  2279
97      Nike    Lebron Witness VI Basketball     ₹  8295
98     Sparx               Men Running Shoes     ₹  1281
99      Puma             Women Running Shoes     ₹  2999

[100 rows x 3 columns]

<h3><font color='green'>Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
<br>Then set CPU Type filter to “Intel Core i7” as shown in the below image:</h3><h4><font color='green'>
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
<br>1. Title
<br>2. Ratings
<br>3. Price
<br>
Note: All the steps required during scraping should be done through code only and not manually.

<h4><font color='maroon'> Automate wepage launch and search for parameters

In [2]:
zon=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
zon.get("https://www.amazon.in/")

In [4]:
search8=zon.find_element(By.XPATH,'//input[@type="text"]')
search8.send_keys("Laptop")

In [5]:
search8b=zon.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search8b.click()

In [9]:

tick8c=zon.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div')
tick8c.click()

<h4><font color='maroon'> Extracting required data

In [130]:
#list initialistation
tp_title=[]
#tp_rating=[]
#tp_price=[]

In [131]:
#Laptop Title
tpt= zon.find_elements(By.XPATH,'//div[@class="sg-col sg-col-4-of-12 sg-col-8-of-16 sg-col-12-of-20 s-list-col-right"]//h2') 
for i in tpt:
    ttle=i.text.split('Intel')[0]
    tp_title.append(ttle)

In [137]:
tp_Title=tp_title[:10]

In [72]:
#Laptop Price
tpp= zon.find_elements(By.XPATH,'//span[@class="a-price-whole"]') 
for i in tpp:
    ttle=i.text
    tp_price.append(ttle)

In [74]:
tp_Price = ['₹ ' + sub for sub in tp_price]

In [120]:
#Laptop rating
tpr= zon.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]//span') 
for i in tpr:
    tp=i.get_attribute('aria-label')
    tp_rating.append(tp)

In [135]:
tp_Rating=tp_rating[:50:5]

<h4><font color='maroon'> Displaying Extracted data as Dataframe

In [138]:
df8=pd.DataFrame({'BRAND':tp_Title,'RATING':tp_Rating,'FINAL PRICE':tp_Price[:10]})
df8

,BRAND,RATING,FINAL PRICE
0,Samsung Galaxy Book2 Pro,3.6 out of 5 stars,"₹ 1,06,990"
1,Samsung Galaxy Book2 Pro 360,3.5 out of 5 stars,"₹ 1,29,990"
2,Lenovo IdeaPad Slim 5,4.3 out of 5 stars,"₹ 82,990"
3,Lenovo ThinkBook 15,4.3 out of 5 stars,"₹ 80,990"
4,Lenovo ThinkPad E14,5.0 out of 5 stars,"₹ 94,990"
5,HP Victus 11th Gen,5.0 out of 5 stars,"₹ 1,08,990"
6,Lenovo Yoga 7i 11th Gen,4.4 out of 5 stars,"₹ 1,06,999"
7,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",4.7 out of 5 stars,"₹ 79,990"
8,"ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...",4.1 out of 5 stars,"₹ 1,26,990"
9,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...",4.1 out of 5 stars,"₹ 1,07,990"

<h3><font color='green'>Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida </h3><h4><font color='green'>
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
<br>1. First get the webpage https://www.ambitionbox.com/
<br>2. Click on the Job option as shown in the image
<br>3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
<br>4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
<br>5. Then scrape the data for the first 10 jobs results you get on the above shown page.
<br>6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually

<h4><font color='maroon'> Automate Webbrowser launch and search parameters

In [139]:
job=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [140]:
job.get("https://www.ambitionbox.com/")

In [143]:
click9b=job.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a')
click9b.click()

In [144]:
search9c=job.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search9c.send_keys("Data Scientist")

In [145]:
click9c=job.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
click9c.click()

In [149]:
loc9d=job.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
loc9d.click()

In [150]:
search9c=job.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search9c.send_keys("Noida")

In [151]:
click9d=job.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click9d.click()

<h4><font color='maroon'> Extracting required Data

In [247]:
Job_titlenr=[]
Job_company=[]
Job_exp=[]

In [187]:
#Job Title
jt= job.find_elements(By.XPATH,'//div[@class="info"]//a') 
for i in jt:
    temp=i.text
    Job_titlenr.append(temp)

In [400]:
Job_title=Job_titlenr[::3]
Job_title[:3]

['Quality Engineer',
 'Data Scientist- SAS Analyst',
 'EY GDS - Data Scientist (10-20 yrs)']

In [401]:
Job_review=Job_titlenr[1::3]
Job_review[:3]

['4.1', '4.3', '3.8']

In [203]:
#Company Name
jc= job.find_elements(By.XPATH,'//div[@class="info"]//div//p') 
for i in jc:
    temp=i.get_attribute('title')
    Job_company.append(temp)

In [399]:
Job_company[:3]

['Optum Global Solutions (India) Private Limited',
 'BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED',
 'EY GDS']

In [249]:
#Job Exp
je= job.find_elements(By.XPATH,'//div[@class="other-info"]//div//p') 
for i in je:
    temp=i.text
    Job_exp.append(temp)
Job_Exp= [x for x in Job_exp if 'Yrs' in x]

In [389]:
Job_Exp[:3]

['2-7 Yrs', '2-7 Yrs', '10-20 Yrs']

<h4><font color='maroon'> Displaying data as Dataframe

In [274]:
df9=pd.DataFrame({'JOB TITLE':Job_title,'COMPANY NAME':Job_company,'REVIEW':Job_review,'EXPERIENCE':Job_Exp})
df9

,JOB TITLE,COMPANY NAME,REVIEW,EXPERIENCE
0,Quality Engineer,Optum Global Solutions (India) Private Limited,4.1,2-7 Yrs
1,Data Scientist- SAS Analyst,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,4.3,2-7 Yrs
2,EY GDS - Data Scientist (10-20 yrs),EY GDS,3.8,10-20 Yrs
3,Data Scientist,GLOBALLOGIC INDIA PRIVATE LIMITED,4.0,8-10 Yrs
4,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd,4.3,5-9 Yrs
5,Hiring For Genpact-Data Scientist- Forecasting...,GENPACT India Private Limited,4.0,7-12 Yrs
6,Genpact - Data Scientist - Forecasting/Python/...,Genpact,4.0,6-10 Yrs
7,Data Scientist,Ericsson India Global Services Pvt. Ltd.,4.3,4-12 Yrs
8,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,4.3,3-8 Yrs
9,Data Scientist,One97 Communications Limited,3.8,1-2 Yrs

<h3><font color='green'>Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. </h3><h4><font color='green'>
The above task will be, done as shown in the below steps:
<br>1. First get the webpage https://www.ambitionbox.com/
<br>2. Click on the salaries option as shown in the image
<br>3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
<br>4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
<br>5. Store the data in a dataframe.
<br>Note: All the steps required during scraping should be done through code only and not manually

<h4><font color='maroon'> Automate web Browser launch and Search Parameters

In [276]:
amb=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")

In [279]:
amb.get("https://www.ambitionbox.com/")

In [305]:
click10a=amb.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span').click()

In [306]:
click10b=amb.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/p').click()

In [307]:
search10a=amb.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input').send_keys("Data Scientist")

In [308]:
click10b=amb.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/div/div[2]/div[2]').click()

In [309]:
click10b=amb.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button/span').click()

<h4><font color='maroon'> Scraping the required data

In [337]:
#initialising
jobtitle=[]
totalsalary=[]
job_exper=[]
avg_sal=[]
minsal=[]
maxsal=[]

In [318]:
#Company name
cj= amb.find_elements(By.XPATH,'//div[@class="name"]//a') 
for i in cj:
    temp=i.text.split('\n')[0]
    companyjob.append(temp)

In [398]:
companyjob[:3]

['TCS', 'Accenture', 'IBM']

In [328]:
#avg Salary
As= amb.find_elements(By.XPATH,'//span[@class="salary-datapoints"]') 
for i in As:
    temp=i.text
    totalsalary.append(temp)

In [397]:
totalsalary[:3]

['(1.2k Salaries)', '(723 Salaries)', '(539 Salaries)']

In [338]:
#Job Exp
Je= amb.find_elements(By.XPATH,'//div[@class="company-info"]//span') 
for i in Je:
    temp=i.text
    job_exper.append(temp)

In [396]:
job_exper[1::3][:3]

['2-9 yrs exp', '2-9 yrs exp', '2-11 yrs exp']

In [355]:
#Min & Max Sal

Ms= amb.find_elements(By.XPATH,'//div[@class="salary-values"]//div') 
for i in Ms:
    temp=i.text
    minsal.append(temp)

In [395]:
Min=minsal[18::2]
Min[:3]

['₹ 4.4L', '₹ 5.3L', '₹ 5.0L']

In [393]:
Max=Max[19::2]
max[:3]

['₹ 15.0L', '₹ 23.0L', '₹ 25.0L']

In [371]:
#Avg annual sal
aas= amb.find_elements(By.XPATH,'//p[@class="averageCtc"]') 
for i in aas:
    temp=i.text
    avg_sal.append(temp)

In [390]:
avg_sal[9:][:3]

['₹ 7.5L', '₹ 12.1L', '₹ 12.8L']

<h4><font color='maroon'> Displaying extracted data as Dataframe.

In [378]:
df10=pd.DataFrame({'COMPANY NAME':companyjob,'TOTAL SALARY RECORD':totalsalary,'EXPERIENCE REQUIRED':job_exper[1::3],'MIN SALARY':Min,'MAX SALARY':Max,'AVG SALARY':avg_sal[9:]})
df10

,COMPANY NAME,TOTAL SALARY RECORD,EXPERIENCE REQUIRED,MIN SALARY,MAX SALARY,AVG SALARY
0,TCS,(1.2k Salaries),2-9 yrs exp,₹ 4.4L,₹ 15.0L,₹ 7.5L
1,Accenture,(723 Salaries),2-9 yrs exp,₹ 5.3L,₹ 23.0L,₹ 12.1L
2,IBM,(539 Salaries),2-11 yrs exp,₹ 5.0L,₹ 25.0L,₹ 12.8L
3,Cognizant,(447 Salaries),2-10 yrs exp,₹ 4.8L,₹ 17.0L,₹ 9.4L
4,Capgemini,(392 Salaries),2-8 yrs exp,₹ 4.8L,₹ 14.5L,₹ 8.5L
5,Infosys,(333 Salaries),2-7 yrs exp,₹ 4.5L,₹ 21.0L,₹ 8.8L
6,Wipro,(315 Salaries),2-9 yrs exp,₹ 4.4L,₹ 18.0L,₹ 9.2L
7,Tech Mahindra,(309 Salaries),2-12 yrs exp,₹ 4.0L,₹ 16.4L,₹ 7.4L
8,Amazon,(231 Salaries),1-10 yrs exp,₹ 9.0L,₹ 50.0L,₹ 27.8L
9,Fractal Analytics,(219 Salaries),2-6 yrs exp,₹ 9.0L,₹ 23.4L,₹ 15.8L