<h1><u><font color='red'>Assignment-1

<h2> <u> <font color='green'>Webscraping

<h2> <font color='Blue'> 1) Write a python program to display all the header tags from wikipedia.org

In [287]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

#send a request to get source code of page
wikipage =  requests.get('https://en.wikipedia.org/wiki/Main_Page')
wikipage

In [1105]:
import numpy as np

<h6>Note:
Running the Declaration- "Wikipage" will seek permission to access source code for the webpage. 
incase the response is in the 200 series means it is a success or a positive response.
and incase it is in the 500 series it usually understood that the server is busy.

<h3>NEXT:
Saving page content which includes HTML Codes, Jscripts, CSS and media content into a identifier; in this case "Wiki".
The above operation is done using the Beautiful soup library.

In [180]:
Wiki= BeautifulSoup(wikipage.content)
#Wiki

<h6>Note: I have not displayed the source code for the webpage as it is inconvenient to read using jupiter notebook. 
Personally i have used Google Chrome's inspect feature to do the same.
if it is to be displayed, we can always do it by including the declared "wiki" as part of the code

<h3>NEXT: Inspect the Source code to find the header tags, usually denoted as h1 , h2, h3... h6.

      Hence looking for above 'tags'.

In [5]:
#Setting search parameters
tags = ["h1", "h2", "h3", "h4","h5","h6"]

<h3> NEXT: Using the built-in function in Beautiful soups- 'find_all' we can find above parameters.
      And using a simple for loop we can display them using a print command.
      This is similar to using 'Find' (Ctrl-F) on webpages, MS office etc. where we simply search for the                         parameters/keywords. We can then choose to display them.

In [16]:
#printing a list of all headers in above URL using the search parameters in 'tags'.
for tag in Wiki.find_all(tags):
    print(tag.text.strip(), 'is a ', tag.name)

Main Page is a  h1
Welcome to Wikipedia is a  h1
From today's featured article is a  h2
Did you know ... is a  h2
In the news is a  h2
On this day is a  h2
Today's featured picture is a  h2
Other areas of Wikipedia is a  h2
Wikipedia's sister projects is a  h2
Wikipedia languages is a  h2
Navigation menu is a  h2
Personal tools is a  h3
Namespaces is a  h3
Views is a  h3
Search is a  h3
Navigation is a  h3
Contribute is a  h3
Tools is a  h3
Print/export is a  h3
In other projects is a  h3
Languages is a  h3

<h3>NEXT: As the above displayed solution is a little monotonous to look at, we can either choose to construct a Dataframe by inistialising an empty list and then saving the header tags into it, and then displaying the result as a DF.

OR

Displaying the same content using a simple print statement, but adding some highlight and font colour etc (courtesy the coloroma library).

In [24]:
#running the same previous code but displayed with some formatting using coloroma library
from colorama import Fore, Back, Style
for tag in Wiki.find_all(tags):
    print(Back.GREEN + tag.text.strip()+Style.RESET_ALL+ ' is a '+ Fore.RED +  tag.name + Style.RESET_ALL)

Main Page is a h1
Welcome to Wikipedia is a h1
From today's featured article is a h2
Did you know ... is a h2
In the news is a h2
On this day is a h2
Today's featured picture is a h2
Other areas of Wikipedia is a h2
Wikipedia's sister projects is a h2
Wikipedia languages is a h2
Navigation menu is a h2
Personal tools is a h3
Namespaces is a h3
Views is a h3
Search is a h3
Navigation is a h3
Contribute is a h3
Tools is a h3
Print/export is a h3
In other projects is a h3
Languages is a h3

<h2><center><font color='red'>SUCCESS!!!!

<h2><font color = 'red'>*********************************************************************************************************</fomt>

<h2> <font color='Blue'>2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.</font>

<h5>Solution:

<h6> The below URL was chosen following a google search for the the request 'top' + '100' + 'movies'+ 'imdb'.<br> 
<font color='blue'> <u> https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=000&ref_=adv_next'</font> </u><br>
    Using the above URL for this demonstration.<br><br>
<h3><font color='green'> First: Step1.</font> Libraries required. 
    skipping import since we have already imported in this file for the previous example

<h3><font color='green'> Next: Step2.</font> Determine the <font color='red'>URL </font>to be used.

In [186]:
imdb_url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=000&ref_=adv_next'

<h3><font color='green'> Next: Step2.1.</font> making 'Request' function

In [209]:
#request for Source code of URL-'imdb'with error handling function
def request_access():
    link= 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=000&ref_=adv_next'
    check=requests.get(link)
    #error handling
    #if response is anything except 200 an exception is made
    if check.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {link}')
    # Parse using BeautifulSoup function
    imdb_content = BeautifulSoup(check.text, 'html.parser')
    return imdb_content

<h5>As no exception handling was carried out - Request is a Success.

<h3><font color='green'>Step2.2.</font> Save page content.

In [210]:
imdb_content=request_access()

<h3><font color='green'> Next: Step3.</font> Using Inspect in Google Chrome, analyse and identify the elements in question.

<h5>Inferences:<br>
    1.Found that the divisional tag <font color='red'>'lister-item-header'</font> holds composite values of <font color='red'>'Rank', 'Name','Year or release'</font>.<br>
    2.The header tags in question are <font color='red'>'h3', 'a' . with attributes 'class', 'href' etc</font>.<br>
    3.Since we need to operate in this area, lets marquee the division as selection.<br>
    4.From the selection, we can use the header tags to get the elements required. <br>
    5.Creating an empty list to hold the movie names.

In [213]:
#proceeding to harvest title from selection

def harvest_movnames(imdb_content):
    
    #marquee the selection
    
    selection="lister-item-header"
    marquee=imdb_content.find_all('h3',{'class':selection})
    
    #Inititalise Empty list to store names
    
    movie_names=[]
    
    #from marquee harvest movie names using a simple text search in selection
    
    for tag in marquee:
        title = tag.find('a').text
        movie_names.append(title)
    
    #return the movie names
        
    return movie_names

<h5> Above function holds all <font color='red'>100 movie names</font> in order of Rank.<br><br>
     To check if above function works, We can simply display all 100 names by calling the above () which will just cause a<br> clutter in the notebook, hence assigning to another variable and calling only 3 names from the top.

In [277]:
#harvest_movnames(imdb_content)------ to display all 100 movie names
#assigning to another variable
nom = harvest_movnames(imdb_content)
#calling 3 names from top
nom[:3]

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight']

<h3><font color='green'> Next: Step4.</font> Using Inspect in Google Chrome, analyse and identify the <font color='red'>year of release</font>.

<h5> 1.Similar to the previous (), the year of release is in the same division, we can either approach the same way and create a marquee or we can use the fact that there is a unique class, based on which we can make a selection marquee.<br><br>
    2. Once we have a marquee selection, we can get the user readable portion of the string using the get_text() in bs4, and the remove the head and tail section using strip().<br><br>
    3. Like before we initialise an empty list to store the year of release.

In [228]:
def harvest_year(imdb_content):
    
     #marquee the selection
    
    selection2 = "lister-item-year text-muted unbold"           
    marquee2=imdb_content.find_all('span',{'class':selection2})
    
     #Inititalise Empty list to store year of movie release
        
    year_released=[]
    
     #from marquee harvest year of movie release using a simple text search in selection
    
    for year in marquee2:
        year_released.append(year.get_text().strip()[1:5])
        
     #return the year of movie release
        
    return year_released

<h5> Above function holds all <font color='red'>100 year of release</font> in order of Rank.<br><br>
     To check if above function works, We can simply display all 100 years by calling the above () which will just cause a<br> clutter in the notebook, hence assigning to another variable and calling only 3 names from the top.

In [231]:
#harvest_year(imdb_content)------ to display all 100 movie release year
year=harvest_year(imdb_content)
year[:3]

['1994', '1972', '2008']

<h3><font color='green'> Next: Step5.</font> Using Inspect in Google Chrome, analyse and identify the Rating of the respective movies

<h5> 1.Similar to the previous (), the year of release is in the same division, there is a unique class, based on which we can make a selection marquee.<br><br>
    2. Once we have a marquee selection, we can get the user readable portion of the string using the get_text() in bs4, and the remove the head and tail section using strip().<br><br>
    3. Like before we initialise an empty list to store the rating of the Movies.

In [233]:
def rating_imdb(imdb_content):
    
     #marquee the selection
        
    selection3="inline-block ratings-imdb-rating"            
    marquee3=doc.find_all('div',{'class':selection3})
    
     #Inititalise Empty list to store movie rating
        
    imdb_rating=[]
    
     #from marquee harvest mmovie rating using a simple text search in selection
        
    for rating in marquee3:
        imdb_rating.append(rating.get_text().strip())
        
     #return the movie rating
        
    return imdb_rating

<h5> Above function holds all <font color='red'>100 Rating</font> in order of Rank.<br><br>
     To check if above function works, We can simply display all 100 IMDB Ratings by calling the above () which will just cause a<br> clutter in the notebook, hence assigning to another variable and calling only 3 ratings from the top.

In [235]:
#rating_imdb(imdb_content)------ to display all 100 movie rating.
imdb_r=rating_imdb(imdb_content)
imdb_r[:3]

['9.3', '9.2', '9.0']

<h3><font color='green'> Next: Step6.</font> Using Inspect in Google Chrome, analyse and identify the Rank of the respective movies.

In [271]:
def harvest_rank(imdb_content):
    
  
    #Inititalise Empty list to store IMDB' rank for Movie
    movie_rank=[]
    
    #marquee the selection
    selection4="lister-item-index unbold text-primary"
    
     #from marquee harvest IMDB' rank for Movie using a simple text search in selection
     #since the rank had a '.' after it, removing it by using string operations- replace()
    
    for rank in imdb_content.find_all('span',class_=selection4):
        movie_rank.append(rank.text.replace('.',''))    
        
        #return the IMDB' rank for Movie
        
    return movie_rank

<h5> Above function holds all <font color='red'>100 rank</font> in order of movie ranks.<br><br>
     To check if above function works, We can simply display all 100 IMDB Ranks by calling the above () which will just cause a<br> clutter in the notebook, hence assigning to another variable and calling only 3 ranks from the top.

In [272]:
#harvest_rank(imdb_content)------ to display all 100 movie ranks.
imdb_rank=harvest_rank(imdb_content)
imdb_rank[:3]

['1', '2', '3']

<h3><font color='green'> Next: Step7.</font> Composing a Dictionary using the above found lists as a precursor to the DataFrame

<h5>1. Initialising Dictionary<br>
2. Adding list to dictionary

In [299]:
#inititalising Dictionary
pre_data = dict()
#Adding lists to Dictionary
pre_data = {'Name of Movie':nom, 'IMDB Rating':imdb_r, 'Year of Release':year,'IMDB Rank':imdb_rank }

<h3><font color='green'> Finally: Step8.</font> Structuring a DataFrame from the Dictionary composed in the previous step

In [323]:
imdb_df = pd.DataFrame(pre_data)
#display(imdb_df)-------Can be used to display head and tail of DF

#permanently disabling display restrictions.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

imdb_df


#pd.reset_option('all')  -----------To Undo Global override, as it may Override future display restrictions in a DF

,Name of Movie,IMDB Rating,Year of Release,IMDB Rank
0,The Shawshank Redemption,9.3,1994,1
1,The Godfather,9.2,1972,2
2,The Dark Knight,9.0,2008,3
3,The Lord of the Rings: The Return of the King,9.0,2003,4
4,Schindler's List,9.0,1993,5
5,The Godfather Part II,9.0,1974,6
6,12 Angry Men,9.0,1957,7
7,Pulp Fiction,8.9,1994,8
8,Inception,8.8,2010,9
9,The Lord of the Rings: The Two Towers,8.8,2002,10
10,Fight Club,8.8,1999,11
11,The Lord of the Rings: The Fellowship of the Ring,8.8,2001,12
12,Forrest Gump,8.8,1994,13
13,"Il buono, il brutto, il cattivo",8.8,1966,14
14,The Matrix,8.7,1999,15
15,Goodfellas,8.7,1990,16
16,The Empire Strikes Back,8.7,1980,17
17,One Flew Over the Cuckoo's Nest,8.7,1975,18
18,Interstellar,8.6,2014,19
19,Cidade de Deus,8.6,2002,20
20,Sen to Chihiro no kamikakushi,8.6,2001,21
21,Saving Private Ryan,8.6,1998,22
22,The Green Mile,8.6,1999,23
23,La vita è bella,8.6,1997,24
24,Se7en,8.6,1995,25
25,Terminator 2: Judgment Day,8.6,1991,26
26,The Silence of the Lambs,8.6,1991,27
27,Star Wars,8.6,1977,28
28,Seppuku,8.6,1962,29
29,Shichinin no samurai,8.6,1954,30
30,It's a Wonderful Life,8.6,1946,31
31,Gisaengchung,8.5,2019,32
32,Whiplash,8.5,2014,33
33,Top Gun: Maverick,8.5,2022,34
34,The Intouchables,8.5,2011,35
35,The Prestige,8.5,2006,36
36,The Departed,8.5,2006,37
37,The Pianist,8.5,2002,38
38,Gladiator,8.5,2000,39
39,American History X,8.5,1998,40
40,The Usual Suspects,8.5,1995,41
41,Léon,8.5,1994,42
42,The Lion King,8.5,1994,43
43,Nuovo Cinema Paradiso,8.5,1988,44
44,Hotaru no haka,8.5,1988,45
45,Back to the Future,8.5,1985,46
46,Apocalypse Now,8.5,1979,47
47,Alien,8.5,1979,48
48,Once Upon a Time in the West,8.5,1968,49
49,Psycho,8.5,1960,50
50,Rear Window,8.5,1954,51
51,Casablanca,8.5,1942,52
52,Modern Times,8.5,1936,53
53,City Lights,8.5,1931,54
54,Capharnaüm,8.4,2018,55
55,Joker,8.4,I) (,56
56,Kimi no na wa.,8.4,2016,57
57,Spider-Man: Into the Spider-Verse,8.4,2018,58
58,Avengers: Endgame,8.4,2019,59
59,Avengers: Infinity War,8.4,2018,60
60,Coco,8.4,I) (,61
61,Django Unchained,8.4,2012,62
62,The Dark Knight Rises,8.4,2012,63
63,3 Idiots,8.4,2009,64
64,WALL·E,8.4,2008,65
65,The Lives of Others,8.4,2006,66
66,Oldeuboi,8.4,2003,67
67,Memento,8.4,2000,68
68,American Beauty,8.4,1999,69
69,Mononoke-hime,8.4,1997,70
70,Braveheart,8.4,1995,71
71,Idi i smotri,8.4,1985,72
72,Aliens,8.4,1986,73
73,Amadeus,8.4,1984,74
74,Raiders of the Lost Ark,8.4,1981,75
75,Das Boot,8.4,1981,76
76,The Shining,8.4,1980,77
77,Tengoku to jigoku,8.4,1963,78
78,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,8.4,1964,79
79,Witness for the Prosecution,8.4,1957,80
80,Paths of Glory,8.4,1957,81
81,Sunset Blvd.,8.4,1950,82
82,The Great Dictator,8.4,1940,83
83,Jagten,8.3,2012,84
84,Toy Story 3,8.3,2010,85
85,Inglourious Basterds,8.3,2009,86
86,Eternal Sunshine of the Spotless Mind,8.3,2004,87
87,Requiem for a Dream,8.3,2000,88
88,Good Will Hunting,8.3,1997,89
89,Toy Story,8.3,1995,90
90,Reservoir Dogs,8.3,1992,91
91,Once Upon a Time in America,8.3,1984,92
92,Star Wars: Episode VI - Return of the Jedi,8.3,1983,93
93,2001: A Space Odyssey,8.3,1968,94
94,Lawrence of Arabia,8.3,1962,95
95,North by Northwest,8.3,1959,96
96,Vertigo,8.3,1958,97
97,Singin' in the Rain,8.3,1952,98
98,Citizen Kane,8.3,1941,99
99,M - Eine Stadt sucht einen Mörder,8.3,1931,100

<h5><font color='red'>Final result:</font> Displayed the Name , Rating and year of release. Additionally, displayed the IMDB Rank.
   <br> Note:  Display restriction of DF is overridden to display full DF.
<h3> <center><font color='red'>SUCCESS!!</font>

<h2><font color='red'>********************************************************************************************************* </font>

<h2> <font color ='blue'> 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

<h5>Solution:<br> 
    1. Following the same approach used for Q2<br>
    2. Solving in brief as detailed explainations are already mentioned done in Q2. <br>3.skipping sample interim Outputs

<h6> The below URL was chosen following a google search for the the request 'top' + '100' +'indian'+ 'movies'+ 'imdb'.<br> 
<font color='blue'> <u> 'https://www.imdb.com/list/ls079077479/'</font> </u><br>
    Using the above URL for this demonstration.

<h3><font color='green'> First: Step1.</font> Libraries required. 
    skipping import since we have already imported in this file for the previous example

<h3><font color='green'> Next: Step2.</font> Determine the <font color='red'>URL </font>to be used.

In [326]:
ind_url = 'https://www.imdb.com/list/ls079077479/'

<h3><font color='green'> Next: Step3.</font> making 'Request' function

In [341]:
#request for Source code of URL-'imdb'with error handling function
def request_access2():
    link2= 'https://www.imdb.com/list/ls079077479/'
    check2=requests.get(link2)
    #error handling
    #if response is anything except 200 an exception is made
    if check2.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {link2}')
    # Parse using BeautifulSoup function
    ind_content = BeautifulSoup(check2.text, 'html.parser')
    return ind_content

<h3><font color='green'>Step2.2.</font> Save page content.

In [342]:
ind_content=request_access2()

<h3><font color='green'> Next: Step3.</font> Using Inspect in Google Chrome, analyse and identify the elements in question.

<h5>Inferences:<br>
    1.Found that the divisional tag <font color='red'>'lister-item-header'</font> holds composite values of <font color='red'>'Rank', 'Name','Year or release'</font>.<br>
    2.The header tags in question are <font color='red'>'h3', 'a' . with attributes 'class', 'href' etc</font>.<br>
    3.Since we need to operate in this area, lets marquee the division as selection.<br>
    4.From the selection, we can use the header tags to get the elements required. <br>
    5.Creating an empty list to hold the movie names.

In [353]:
#proceeding to harvest title from selection

def harvest_indian_movies(ind_content):
    
    #marquee the selection
    
    selectind="lister-item-header"
    marquee_ind=ind_content.find_all('h3',{'class':selectind})
    
    #Inititalise Empty list to store names
    
    indmov_names=[]
    
    #from marquee harvest movie names using a simple text search in selection
    
    for indtag in marquee_ind:
        indmov = indtag.find('a').text
        indmov_names.append(indmov)
    
    #return the Indian movie names
        
    return indmov_names

<h5> Above function holds all <font color='red'>100 indian movie names</font> in order of Rank.<br><br>
     To check if above function works, We can simply display all 100 Indian Movie names by calling the above () which will just cause a<br> clutter in the notebook, hence assigning to another variable and calling only 3 names from the top.

<h3><font color='green'> Next: Step4.</font> Using Inspect in Google Chrome, analyse and identify the <font color='red'>year of release, IMDB rating and rank</font>.

In [389]:
#for Year of release

def harvest_indian_year(ind_content):
    
    selectind2 = "lister-item-year text-muted unbold"           
    marquee_indy=ind_content.find_all('span',{'class':selectind2})
          
    year_indian_released=[]
       
    for iyear in marquee_indy:
        year_indian_released.append(iyear.get_text().strip()[1:5])
                
    return year_indian_released

#for IMDB Rating

def rating_indian_imdb(ind_content):
            
    selectind3="inline-block ratings-imdb-rating"            
    marquee3_indr=doc.find_all('div',{'class':selectind3})       
    imdb_indian_rating=[]

    for irating in marquee3_indr:
        imdb_indian_rating.append(irating.get_text().strip())
  
    return imdb_indian_rating

# For Rank

def harvest_ind_rank(imdb_content):
    
    movie_ind_rank=[]

    selectind4="lister-item-index unbold text-primary"

    for irank in imdb_content.find_all('span',class_=selectind4):
        movie_ind_rank.append(irank.text.replace('.',''))    
        
    return movie_ind_rank

#Re-storing lists to export into dictionary
ind_mov_names= harvest_indian_movies(ind_content)
ind_ranking = harvest_ind_rank(imdb_content)
ind_rating = rating_indian_imdb(ind_content)
ind_release_year = harvest_indian_year(ind_content)

<h3><font color='green'> Next: Step5.</font> Composing a Dictionary using the above found lists as a precursor to the DataFrame

In [390]:
#inititalising Dictionary
ind_imdb_data = dict()
#Adding lists to Dictionary
ind_imdb_data = {'Name of Indian Movie':ind_mov_names, 'IMDB Rating':ind_rating, 'Year of Release':ind_release_year,'IMDB Rank':ind_ranking }
#ind_imdb_data

<h3><font color='green'> Finally: Step6.</font> Structuring a Dataframe based on the dictionary

In [392]:

imdb_ind_df = pd.DataFrame(ind_imdb_data)
#display(imdb_ind_df)-------Can be used to display head and tail of DF

#permanently disabling display restrictions.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

imdb_ind_df


#pd.reset_option('all') # -----------To Undo Global override, as it may Override future display restrictions in a DF

,Name of Indian Movie,IMDB Rating,Year of Release,IMDB Rank
0,PK,9.3,2014,1
1,Bãhubali: The Beginning,9.2,2015,2
2,Vaaranam Aayiram,9.0,2008,3
3,Bajrangi Bhaijaan,9.0,2015,4
4,Chennai Express,9.0,2013,5
5,Drishyam,9.0,2013,6
6,Kaakha..Kaakha: The Police,9.0,2003,7
7,Taare Zameen Par,8.9,2007,8
8,3 Idiots,8.8,2009,9
9,Magadheera,8.8,2009,10
10,Lagaan: Once Upon a Time in India,8.8,2001,11
11,7 Aum Arivu,8.8,2011,12
12,Chak De! India,8.8,2007,13
13,Ghajini,8.8,2005,14
14,Vishwaroopam,8.7,2013,15
15,Indian Rupee,8.7,2011,16
16,1 - Nenokkadine,8.7,2014,17
17,Thani Oruvan,8.7,2015,18
18,Ek Villain,8.6,2014,19
19,Brothers,8.6,I) (,20
20,Haider,8.6,2014,21
21,Thuppakki,8.6,2012,22
22,Kaththi,8.6,2014,23
23,Anniyan,8.6,2005,24
24,Arya,8.6,2004,25
25,Srimanthudu,8.6,2015,26
26,Premam,8.6,2015,27
27,Singam 2,8.6,2013,28
28,Thattathin Marayathu,8.6,2012,29
29,Happy New Year,8.6,I) (,30
30,Arya 2,8.6,2009,31
31,Singam,8.5,2010,32
32,1983,8.5,2014,33
33,Eega,8.5,2012,34
34,Srimanthudu,8.5,2015,35
35,Bangalore Days,8.5,2014,36
36,Ustad Hotel,8.5,2012,37
37,Koi... Mil Gaya,8.5,2003,38
38,Dasavatharam,8.5,2008,39
39,Student of the Year,8.5,2012,40
40,Neram,8.5,2013,41
41,Pokiri,8.5,2006,42
42,Race,8.5,I) (,43
43,Dhoom,8.5,2004,44
44,Kanchana 2,8.5,2015,45
45,English Vinglish,8.5,2012,46
46,I,8.5,2015,47
47,Ayan,8.5,2009,48
48,Attarintiki Daredi,8.5,2013,49
49,Yennai Arindhaal,8.5,2015,50
50,Enthiran,8.5,2010,51
51,Left Right Left,8.5,2013,52
52,How Old Are You?,8.5,2014,53
53,Masss,8.5,2015,54
54,Kick,8.4,2009,55
55,Kaaviya Thalaivan,8.4,2014,56
56,Oru Vadakkan Selfie,8.4,2015,57
57,Jab Tak Hai Jaan,8.4,2012,58
58,Julayi,8.4,2012,59
59,7th Day,8.4,2014,60
60,Mankatha,8.4,2011,61
61,Bodyguard,8.4,2010,62
62,Race Gurram,8.4,2014,63
63,Biriyani,8.4,2013,64
64,Krrish,8.4,2006,65
65,Gabbar Singh,8.4,2012,66
66,Urumi,8.4,2011,67
67,Krrish 3,8.4,2013,68
68,Rakhta Charitra 2,8.4,2010,69
69,Athidhi,8.4,2007,70
70,Mozhi,8.4,2007,71
71,Mumbai Police,8.4,2013,72
72,ABCD: American-Born Confused Desi,8.4,2013,73
73,Bunny,8.4,2005,74
74,Pithamagan,8.4,2003,75
75,Kandukondain Kandukondain,8.4,2000,76
76,Rajamanikyam,8.4,2005,77
77,Mirchi,8.4,2013,78
78,Something Something... Unnakum Ennakum,8.4,2006,79
79,S/O Satyamurthy,8.4,2015,80
80,Anjaan,8.4,2014,81
81,Nandanam,8.4,2002,82
82,Arrambam,8.4,2013,83
83,Twenty:20,8.3,2008,84
84,Dhoom:3,8.3,2013,85
85,Velayudham,8.3,2011,86
86,Picket 43,8.3,2015,87
87,Om Shanti Om,8.3,2007,88
88,Sapthamashree Thaskaraha,8.3,2014,89
89,Bang Bang,8.3,I) (,90
90,Ennum Eppozhum,8.3,2015,91
91,Maattrraan,8.3,2012,92
92,Thalaivaa,8.3,2013,93
93,Ek Tha Tiger,8.3,2012,94
94,Escape from Uganda,8.3,2013,95
95,Damarukam,8.3,2012,96
96,Kaaki Sattai,8.3,2015,97
97,Anwar,8.3,2010,98
98,Aagadu,8.3,2014,99
99,Maan Karate,8.3,2014,100

<h5><font color='red'>Final result:</font> Displayed the Name , Rating and year of release. Additionally, displayed the IMDB Rank.
   <br> Note:  Display restriction of DF is overridden to display full DF.
<h3><center> <font color='red'>SUCCESS!!</font>

<h2><font color='red'>********************************************************************************************************* </font>

<h2> <font color ='blue'> 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

<h5>Solution:
    <br>1. Using URL <font color=blue><u>https://presidentofindia.nic.in/former-presidents.htm</font></u> to scrap Data.
    <br>2. Using Bs4.
    <br>3. Required Libraries already imported; Skipping to URL's Source code access request and analysis

<h3><font color='green'> First: Step1.</font> Create a function to request for Source code from the given URL.

In [605]:
#request for Source code of URL-'presidents of India' with error handling function
def request_presidential_access():
    dir= 'https://presidentofindia.nic.in/former-presidents.htm'
    confirm=requests.get(dir)
    #error handling
    #if response is anything except 200 an exception is made
    if confirm.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {dir}')
    # Parse using BeautifulSoup function
    eagles = BeautifulSoup(confirm.content, 'html.parser')
    return eagles

In [484]:
eagle = request_presidential_access()

<h3><font color='green'> Next: Step2.</font> Inspection of HTML

<h5>On inspection, it is found that the the president name and DOB are in one user readable string in one divisional tag. 
<br>I am going to extract this string, and then perform string operations to seperate it into different strings.
<br>Term in office is in another tag. We can extract as it is.

<h3><font color='green'> Next: Step3.</font> Creating a selection of div tags of interest, and then scraping names of previous Presidents.

In [506]:
#proceeding to harvestname and DOB from selection

def harvest_eagle_name(eagle):
    
    #marquee the selection
    building="presidentListing"
   
    marquee_tool=eagle.find_all('div',{'class':building})
   
    #Inititalise Empty list to store names and DOB
    
    eagles_namedob2=[]
    
    
    
    for i in marquee_tool:
        pres_name = i.find('h3').text.split('(').pop(0)
        eagles_namedob2.append(pres_name)
   
    
        
    return eagles_namedob2

In [520]:
elvis=harvest_eagle_name(eagle)

<h3><font color='green'> Next: Step4.</font> Creating a selection of div tags that hold the date of Birth/death.

In [517]:
#proceeding to harvestname and DOB from selection

def harvest_eagle_dob(eagle):
    
    #marquee the selection
    building="presidentListing"
   
    marquee_tool=eagle.find_all('div',{'class':building})
   
    #Inititalise Empty list to store names and DOB
    
    eagles_dob2=[]
    
    
    
    for i in marquee_tool:
        pres_name = i.find('h3').text.split('(').pop(1)
        eagles_dob2.append(pres_name)
   
    
        
    return eagles_dob2

In [519]:
dob=harvest_eagle_dob(eagle)

<h3><font color='green'> Next: Step5.</font> Creating Marquee to extract string that contains Term of office, among other info.<br>Then using a series of String operations to extract only Term of office.

In [598]:
def office_term(eagle):
    
  
    #initialised empty list to store term
    term=[]
    term2=[]
    marker = "presidentListing" #---- as found in the           
    select=eagle.find_all('div',{'class':marker})
 # Extracts the following. 
 #<div class="presidentListing">
 #<h3>Shri Ram Nath Kovind (birth - 1945)</h3>
 #<p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>
 #<p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>
 #</div>    
    #Next scraping the text and using string operators   
    for yr in select:
        term.append(yr.get_text().split(':').pop(1))
    # running additional round of string operations to clean up data.    
    for h in term:
        term2.append(h.split('\n').pop(0))
    return term2

In [599]:
term_in_office=office_term(eagle)
term_in_office

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

<h3><font color='green'> Next: Step6.</font> Initialising and appending the lists in a dictionary as a precursor to compose a DF.

In [602]:
#inititalising Dictionary
presidents_data = dict()
#Adding lists to Dictionary
presidents_data = {'Name of President':elvis, 'Birth/Death':dob, 'Term of office':term_in_office }
#presidents_data

<h3><font color='green'> Finally: Step7.</font> Creating a Dataframe.

In [1040]:
presidents_df = pd.DataFrame(presidents_data)

presidents_df

,Name of President,Birth/Death,Term of office
0,Shri Ram Nath Kovind,birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974"
11,Dr. Zakir Husain,1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,1884-1963),"26 January, 1950 to 13 May, 1962"

<h2><center><font color='red'>SUCCESS!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2> <font color ='blue'>5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    <br><t>a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    <br><t>b) Top 10 ODI Batsmen along with the records of their team and rating.
    <br><t>c) Top 10 ODI bowlers along with the records of their team and rating.

<h5>Solution:
<h6> <font color='blue'> <u> https://www.icc-cricket.com/rankings/mens/team-rankings/odi'</font> </u><br>
    1. Using the above URL for this demonstration.<br>
    2. Using Bs4.
    <br><br>
<h3><font color='green'> First: Step1.</font> Libraries required. 
    Skipping import since we have already imported in this file for the previous example.

<h5>On inspection, it is found that for 5(a) all the information to be scraped is uder <tr> tag with <font color='red'>"rankings-block__banner"</font> label.<br>
    Hence extracting the same.

In [1043]:
def cricket_ticket():
    path1= 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
    access=requests.get(path1)
    #error handling
    #if response is anything except 200 an exception is made
    if access.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path1}')
    # Parse using BeautifulSoup function
    icc = BeautifulSoup(access.content, 'html.parser')
    return icc

In [1044]:
icc_info=cricket_ticket()

In [1045]:
def country_name1(icc_info):
    label1 = "u-hide-phablet"         
    country=icc_info.find_all('span',{'class':label1})
          
    country_name_off=[]
       
    for stat in country:
        country_name_off.append(stat.get_text())
                
    return country_name_off

def country_name2(icc_info):
    label1 = "u-show-phablet"         
    country=icc_info.find_all('span',{'class':label1})
          
    country_name_show=[]
       
    for stat in country:
        country_name_show.append(stat.get_text())
                
    return country_name_show

In [1079]:
official_name=country_name1(icc_info)
official_name[:3] #-----------------Displaying ONLY top3 names to reduce clutter

['New Zealand', 'England', 'India']

In [1080]:
show_name=country_name2(icc_info)
show_name[:3]#-----------------Displaying ONLY top3 names to reduce clutter

['NZ', 'ENG', 'IND']

In [1075]:
#Note New Zealand contains a different label as it is displayed in Block.
#hence using a list of labels, to identify the required tags. 
def country_match_np(icc_info):
    label1 = ("table-body__cell u-center-text", 'rankings-block__banner--matches', "rankings-block__banner--points")        
    country2=icc_info.find_all('td',{'class':label1})
          
    country_matchap=[]

       
    for stat in country2:
        country_matchap.append(stat.get_text())
      
    return country_matchap

# this returns a list of "matches played by team" and "team score" in one list.

In [1076]:
match_no=country_match_np(icc_info)
match_no[:6] #----------------Displaying only 3 sets of matches played and score of each team to reduce clutter.

['19', '2,355', '27', '3,226', '31', '3,447']

In [1058]:
# since the above list is populated by each teams matches played and points sequentially. 
# We can use string operators to seperate odd and even elements
matches_played = [v for i, v in enumerate(match_no) if i % 2 == 0]
team_score = [z for j, z in enumerate(match_no) if j % 2 != 0]

print("Matches played by listed teams:",matches_played)
print()
print('Listed team Scores:',team_score,)

Matches played by listed teams: ['19', '27', '31', '22', '23', '21', '30', '29', '41', '18', '23', '27', '23', '21', '22', '23', '30', '15', '22', '22']

Listed team Scores: ['2,355', '3,226', '3,447', '2,354', '2,325', '2,111', '2,753', '2,658', '2,902', '1,238', '1,214', '1,254', '910', '673', '697', '725', '919', '369', '331', '134']

In [1059]:
def country_rting(icc_info):
    label1 = ("table-body__cell u-text-right rating","rankings-block__banner--rating u-text-right")
                      
                     
    rating=icc_info.find_all('td',{'class':label1})
          
    country_rating=[]
       
    for rating in rating:
        country_rating.append(rating.get_text())
                
    return country_rating

In [1062]:
rtg=country_rting(icc_info)

In [1296]:
#initialising a dictionary to store the lists as a precursor to make a dataframe.
icc_mens_stats= dict()
#Adding lists to Dictionary
icc_mens_stats = {'Country | Official Name':official_name, 'Country | Short Name':show_name,'Matches Played':matches_played,'Points Scored':team_score, 'Rating':rtg}
icc_mens_stats #-------can Comment the command to display the dictionary to avoid clutter.

{'Country | Official Name': ['New Zealand',
  'England',
  'India',
  'Pakistan',
  'Australia',
  'South Africa',
  'Bangladesh',
  'Sri Lanka',
  'West Indies',
  'Afghanistan',
  'Ireland',
  'Scotland',
  'Zimbabwe',
  'Netherlands',
  'UAE',
  'United States',
  'Oman',
  'Namibia',
  'Nepal',
  'Papua New Guinea'],
 'Country | Short Name': ['NZ',
  'ENG',
  'IND',
  'PAK',
  'AUS',
  'SA',
  'BAN',
  'SL',
  'WI',
  'AFG',
  'IRE',
  'SCO',
  'ZIM',
  'NED',
  'UAE',
  'USA',
  'OMA',
  'NAM',
  'NEP',
  'PNG'],
 'Matches Played': ['19',
  '27',
  '31',
  '22',
  '23',
  '21',
  '30',
  '29',
  '41',
  '18',
  '23',
  '27',
  '23',
  '21',
  '22',
  '23',
  '30',
  '15',
  '22',
  '22'],
 'Points Scored': ['2,355',
  '3,226',
  '3,447',
  '2,354',
  '2,325',
  '2,111',
  '2,753',
  '2,658',
  '2,902',
  '1,238',
  '1,214',
  '1,254',
  '910',
  '673',
  '697',
  '725',
  '919',
  '369',
  '331',
  '134'],
 'Rating': ['\n                            124\n                            \n\n',
  '119',
  '111',
  '107',
  '101',
  '101',
  '92',
  '92',
  '71',
  '69',
  '53',
  '46',
  '40',
  '32',
  '32',
  '32',
  '31',
  '25',
  '15',
  '6']}

In [1297]:

#As python is parsing all countries, we need to limit it as required to have only top10.

icc_mens_df = pd.DataFrame(icc_mens_stats)
icc_mens_df.index = np.arange(1,len(icc_mens_df)+1)
print('Solution to 5(a)')
icc_mens_df.head(10)

Solution to 5(a)

,Country | Official Name,Country | Short Name,Matches Played,Points Scored,Rating
1,New Zealand,NZ,19,"2,355",\n 124\n \n\n
2,England,ENG,27,"3,226",119
3,India,IND,31,"3,447",111
4,Pakistan,PAK,22,"2,354",107
5,Australia,AUS,23,"2,325",101
6,South Africa,SA,21,"2,111",101
7,Bangladesh,BAN,30,"2,753",92
8,Sri Lanka,SL,29,"2,658",92
9,West Indies,WI,41,"2,902",71
10,Afghanistan,AFG,18,"1,238",69

<h3>Solving for 5(b)

<h4> Q5b) Top 10 ODI Batsmen along with the records of their team and rating.

<h6> using the URL<font color='blue'> <u> 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'</font> </u><br>
    <br>

<h5>Solution:
<h6> <font color='blue'> <u> https://www.icc-cricket.com/rankings/mens/team-rankings/odi'</font> </u><br>
    1. Using the above URL for this demonstration.<br>
    2. Using Bs4.
    <br><br>
<h3><font color='green'> First: Step1.</font> Libraries required. 
    Skipping import since we have already imported in this file for the previous example.

<h3><font color='green'> Next: Step2.</font> Request for access for Source code from website. use HTML parser to parse data into python

In [1114]:
def t_players():
    path1= 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
    player=requests.get(path1)
    #error handling
    #if response is anything except 200 an exception is made
    if player.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path1}')
    # Parse using BeautifulSoup function
    plyr = BeautifulSoup(player.content, 'html.parser')
    return plyr

In [1151]:
pl=t_players()

<h2><font color='red'> Important Note:</h2><h5>On analysing the html source code, there is a parallel in the structure between ODI-Test-T20L. hence with a mere change in URL, we can use same functions to fetch data across the different game formats.</font><br>
    <font color='green'> Also, in player statistics, all the Rank 1's across the Batsmen-bowlers-Allrounders both present and All-time.</font><br><br>
    <font color='maroon'> The same applies with the Rank 2-10 across genres viz, Batsmen-bowlers-Allrounders both present and All-time.</font><br><br>
    Hence, i am making common functions to parse data into python as series of lists and then rely on basic String operators to construct the Dictionary/Dataframe.

<h3><font color='green'> Next: Step3.</font> Creating Function1 to find Position of all top players across genre

In [1353]:
#Parsing all the Rank1 players through all genres, as they all have a block container, hence different tags.
#First Parsing Ranks# 1-10 for all 6 genres. Used labels of both rank1 and rank2-10

#Function1-----------------------------------------------------------------------POSITION()
def player_pos(pl):
    label1 = ("rankings-table__pos-number","rankings-block__pos-number")         
    layer1=pl.find_all('span',{'class':label1})
          
    pl_rank=[]
       
    for p in layer1:
        pl_rank.append(p.get_text().strip())
                
    return pl_rank

In [1354]:
pl_rk=player_pos(pl)[:10]
pl_rk #---------------------------to be used in forming df

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

<h3><font color='green'> Next: Step4.1.</font> Create Function-2 to find the Rank1 player names across all Genre

In [1355]:
#proceeding to harvest name of rank1 players across all genre.
#working on rank 1 players as 9-10 are is in a different container already solved

#Function2-----------------------------------------------------------------------Name of Rank1() in every Genre
def playername1(pl):
    
    #marquee the selection
   
    selection="rankings-block__banner--name"
    marquee=pl.find_all('div',{'class':selection})
    
    #Inititalise Empty list to store names
    
    pl_name1 =[]
    
   
    #select all the names from marquee
    for tag1 in marquee:
        
        pl_name1.append(tag1.text)
    
    #return names
        
    return pl_name1

In [1356]:
#Showing the Rank1 across all Genres. this is because, on the webpage, the Rank1s have a block container around them.
#using String operations we can extract the Rank1 player in each of the genre when required.
player_names1=playername1(pl) #-------------------to be used multiple times later
player_names1

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

<h3><font color='green'> Next: Step4.2.</font> Create Function 3 to capture names of Rank2-10 player's names across all Genre

In [1244]:
#proceeding to harvest the remaining top 10 batsmen's names.
#working on Batsmen 2-10 as rank 1 is in a different container
#function3--------------------------------------------------------------------Name of Rank2-10 in every Genre
def name2_10(pl):
    
    #marquee the selection
    
    selection="table-body__cell name"
    name210=pl.find_all('td',{'class':selection})
    
    #Inititalise Empty list to store names
    
    batname210 =[]
    
   
    #select all the names from marquee
    for bat in name210:
        glove = bat.find('a').text.strip()
        batname210.append(glove)
    
    #return names
        
    return batname210

In [1245]:
#Batsmen name-2-10
name_batsmen210=batname2_10(pl)[:9]
name_batsmen210  #---------- Displaying only first 3 in list to avoid clutter

['Rassie van der Dussen',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'David Warner',
 'Jonny Bairstow',
 'Ross Taylor',
 'Aaron Finch']

<h3><font color='green'> Next: Step5.1.</font>Create function-4 to capture rank1 players' country player rating across all genre

In [1246]:
#proceeding to harvest Country of origin of all rank1 players across all genre.
#Note the div tag contains both Country of origin and Player rating. 
#First extracting Country
#function4----------------------------------------------------------------Origin of Rank1 Player across all Genre
def player_origin(pl):
    
    #marquee the selection
    
    selection = "rankings-block__banner--nationality"
    gin = pl.find_all('div',{'class':selection})
    
    #Inititalise Empty list to store names
    
    pl_origin =[]
    
   
    #select all the names from marquee
    for ori in gin:
        pl_origin.append(ori.text.strip()[0:3])
    
    #return names
        
    return pl_origin

#function5----------------------------------------------------------------Rating of Rank1 Player across all Genre

def player_rting(pl):
    
    #marquee the selection
    
    selection = "rankings-block__banner--nationality"
    ting = pl.find_all('div',{'class':selection})
    
    #Inititalise Empty list to store names
    
    pl_rting =[]
    
   
    #select all the names from marquee
    for ra in ting:
        pl_rting.append(ra.text.strip()[4:])
    
    #return names
        
    return pl_rting

In [1247]:
#Showing Rank1 Player's origin across all Genres, because on the webpage the Rank1s have a block container around them.
#using String operations we can extract the Rank1 player in each of the genre when required.
Origin1=player_origin(pl) #-------------------to be used multiple times later
Rating1=player_rting(pl)
print(Origin1)
print(Rating1)

['PAK', 'NZ\n', 'BAN', 'PAK', 'NZ\n', 'BAN']
['890', '20', '372', '890', '20', '372']

<h3><font color='green'> Next: Step5.2.</font>Create function-4 to capture rank2-10 players' country across all genre

In [1248]:
#working on Batsmen 2-10 as rank 1 is in a different container
#function6-------------------------------------------------------------Origin of Rank2-10 player across all Genre
def batnation2_10(pl):
    
    #marquee the selection
    
    selection="table-body__logo-text"
    tion=pl.find_all('span',{'class':selection})
    
    #Inititalise Empty list to store names
    
    batnation210 =[]
    
   
    #select all the names from marquee
    for na in tion:
        batnation210.append(na.text)
    
    #return names
        
    return batnation210

In [1249]:
#Rank 2-10 batsmans' origin country
country_batsmen210=batnation2_10(pl)[0:9]
country_batsmen210[:3]#---------- Displaying only first 3 in list to avoid clutter

['SA', 'SA', 'PAK']

<h3><font color='green'> Next: Step6.</font>Create function-4 to capture rank1 players' rating across all genre

In [1250]:
#working on Batsmen rank 2-10 rating as rank 1 is in a dofferent container
# Function6---------------------------------------------------------------------Rating of Rank2-10 Player
def batnrtg(pl):
    
    #marquee the selection
    
    selection="table-body__cell u-text-right rating"
    ing=pl.find_all('td',{'class':selection})
    
    #Inititalise Empty list to store names
    
    batrtg210 =[]
    
   
    #select all the names from marquee
    for rat in ing:
        
        batrtg210.append(rat.text)
    
    #return names
        
    return batrtg210

In [1251]:
#Batsmens rating
player_rtg210=batnrtg(pl)[:9]
player_rtg210[:3]#---------- Displaying only first 3 in list to avoid clutter

['789', '784', '779']

<h3>NOTE: The Above Functions (1-6) will be used now to solve Q5(b). but it will also come in handy to solve Q5(c).
    It will also be used to solve similar queries for Q6(b) and(c)

<h3><font color='green'> Next: Step7.</font>adding Rank1 list to Rank2-10 list

In [1252]:
#adding the first elememt(name) in Rank1 player name list to the rank2-10 list to get top10

T10_batsmen_name= player_names1[:1]+name_batsmen210 #--------to be used in forming DF
T10_batsmen_name[:3]#---------- Displaying only top 3 in list to avoid clutter

['Babar Azam', 'Rassie van der Dussen', 'Quinton de Kock']

In [1253]:
#adding the first elememt(origin/country) in Rank1 player origin list to the rank2-10 list to get top10
batman_origins= Origin1[:1]+country_batsmen210
batman_origins

['PAK', 'SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

In [1254]:
#adding the first elememt(element) in Rank1 player origin list to the rank2-10 list to get top10 ratings
T10_ratings= Rating1[:1] + player_rtg210
T10_ratings

['890', '789', '784', '779', '744', '740', '737', '732', '722', '715']

<h3><font color='green'> Next: Step8.</font> initialising Dict() and loading it with the respective lists

In [1255]:
#initializing dictionary to make df
T10batsmen=dict()
T10batsmen={'Player Name':T10_batsmen_name,'Position':pl_rk, 'Country':batman_origins, 'Rating':T10_ratings}
T10batsmen

{'Player Name': ['Babar Azam',
  'Rassie van der Dussen',
  'Quinton de Kock',
  'Imam-ul-Haq',
  'Virat Kohli',
  'Rohit Sharma',
  'David Warner',
  'Jonny Bairstow',
  'Ross Taylor',
  'Aaron Finch'],
 'Position': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 'Country': ['PAK',
  'SA',
  'SA',
  'PAK',
  'IND',
  'IND',
  'AUS',
  'ENG',
  'NZ',
  'AUS'],
 'Rating': ['890',
  '789',
  '784',
  '779',
  '744',
  '740',
  '737',
  '732',
  '722',
  '715']}

<h3><font color='green'> FINALLY: Step9.</font>Create DF based on the Dict() composed.

In [1256]:
icc_mens_bats_df = pd.DataFrame(T10batsmen)
icc_mens_bats_df.index = np.arange(1,len(icc_mens_bats_df)+1)

<h3>Solution for Q5(b)

In [1257]:
icc_mens_bats_df

              Player Name Position Country Rating
1              Babar Azam        1     PAK    890
2   Rassie van der Dussen        2      SA    789
3         Quinton de Kock        3      SA    784
4             Imam-ul-Haq        4     PAK    779
5             Virat Kohli        5     IND    744
6            Rohit Sharma        6     IND    740
7            David Warner        7     AUS    737
8          Jonny Bairstow        8     ENG    732
9             Ross Taylor        9      NZ    722
10            Aaron Finch       10     AUS    715

 <h3><t>c) Top 10 ODI bowlers along with the records of their team and rating.

<h5>Solution:
<h6> <font color='blue'> <u> https://www.icc-cricket.com/rankings/mens/team-rankings/odi'</font> </u><br>
    1. Using the above URL for this demonstration.<br>
    2. Using Bs4.
    <br><br>
<h3><font color='green'> First: Step1.</font> Libraries required. 
    Skipping import since we have already imported in this file for the previous example. </h6>
   <h4> Also, Using Functions 1-6 from 5(b) to solve 5(c)

<h5>Using common data from 5b we get the Rank1 Bowler information.

<h3><font color='green'> NEXT: Step2.</font> using list elements 11-20 of Rank/Positions.</h3><h5>(Although, not required as it will yield the same ranks viz 1-10)

In [1263]:
bo_rk=player_pos(pl)[10:20]
bo_rk #---------------------------to be used in forming df

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

<h3><font color='green'> NEXT: Step3.1.</font> Using Function2  we find Rank1 Bowler's name viz element(2) in list

In [1265]:
bowler_name1=playername1(pl)[1:2] #-------------------to be used multiple times later
bowler_name1

['Trent Boult']

<h3><font color='green'> NEXT: Step3.2.</font> Using Function3  we find Rank2-10 Bowler viz element(10-18) in list

In [1268]:
#Bowlers name-2-10
name_bowler210=batname2_10(pl)[9:18]
name_bowler210  #---------- Displaying only first 3 in list to avoid clutter

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Matt Henry',
 'Mustafizur Rahman']

<h3><font color='green'> NEXT: Step4.1.</font> Using Function4  we find Rank1 Bowler's Country viz element(2) in list

In [1271]:
#Rank 1 bowlers' origin country
borigin1=player_origin(pl)[1:2] 
print(borigin1)

['NZ\n']

<h3><font color='green'> NEXT: Step4.2.</font> Using Function5  we find Rank2-10 Bowlers' Location viz element(9-18) in list

In [1277]:
#Rank 2-10 bowlers' origin country
country_batsmen210=batnation2_10(pl)[0:9]
country_batsmen210

['SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

<h3><font color='green'> NEXT: Step5.1.</font> Using Function5  we find Rank1 Bowler's Rating viz element(2) in list

In [1278]:
#Rank 1 bowlers' rating
brating1=player_rting(pl)[1:2]
print(brating1)

['20']

<h3><font color='green'> NEXT: Step5.2.</font> Using Function6  we find Rank2-10 Bowler viz element(9-18) in list

In [1279]:
#Rank 2-10 Bowlers rating
bowler_rtg210=batnrtg(pl)[9:18]
bowler_rtg210

['679', '676', '662', '661', '657', '655', '651', '644', '640']

<h3><font color='green'> NEXT: Step6.</font> initializing Dict and compiling the strings to make a complete dictionary.

In [1280]:
#initializing dictionary to make df
T10bowlers=dict()
T10bowlers={'Player Name':(bowler_name1+name_bowler210),'Position':bo_rk, 'Country':(borigin1 +country_batsmen210), 'Rating':(brating1+bowler_rtg210)}
T10bowlers

{'Player Name': ['Trent Boult',
  'Josh Hazlewood',
  'Mujeeb Ur Rahman',
  'Jasprit Bumrah',
  'Shaheen Afridi',
  'Mohammad Nabi',
  'Mehedi Hasan',
  'Rashid Khan',
  'Matt Henry',
  'Mustafizur Rahman'],
 'Position': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 'Country': ['NZ\n',
  'SA',
  'SA',
  'PAK',
  'IND',
  'IND',
  'AUS',
  'ENG',
  'NZ',
  'AUS'],
 'Rating': ['20',
  '679',
  '676',
  '662',
  '661',
  '657',
  '655',
  '651',
  '644',
  '640']}

<h3><font color='green'> Finally: Step7.</font> Using the Dict made, we compose a dataframe.

In [1281]:
#Initialising and Displaying dict as DF
icc_mens_bowl_df = pd.DataFrame(T10bowlers)#------------To start the serial# from 1 rather than 0
icc_mens_bowl_df.index = np.arange(1,len(icc_mens_bowl_df)+1)

<h3>Solution for Q5(c)

In [1282]:
icc_mens_bowl_df

          Player Name Position Country Rating
1         Trent Boult        1    NZ\n     20
2      Josh Hazlewood        2      SA    679
3    Mujeeb Ur Rahman        3      SA    676
4      Jasprit Bumrah        4     PAK    662
5      Shaheen Afridi        5     IND    661
6       Mohammad Nabi        6     IND    657
7        Mehedi Hasan        7     AUS    655
8         Rashid Khan        8     ENG    651
9          Matt Henry        9      NZ    644
10  Mustafizur Rahman       10     AUS    640

<h2><center><font color='red'> SUCCESS!!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2> <font color ='blue'>6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
<br>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
<br>b) Top 10 women’s ODI Batting players along with the records of their team and rating.
<br>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

<h3>Solution:
    <br>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

<h4>Before we begin, as mentioned earlier, there is a since of similarity and paralellism in the source codes structure of the webpage.
    <br><br>I am attempting to solve this Q6, by calling the same functions used in Q5. most of them should work the same, if we just change the passed data into the functions while calling them

<h3><font color='green'> FIRST: Step1.</font> Request access for the source code for the given webpage.

In [1300]:
def cricket_ticket2():
    path2= 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
    access=requests.get(path2)
    #error handling
    #if response is anything except 200 an exception is made
    if access.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path2}')
    # Parse using BeautifulSoup function
    icc_w = BeautifulSoup(access.content, 'html.parser')
    return icc_w

In [1304]:
wpl=cricket_ticket2()
#wpl

<h3><font color='green'> NEXT: Step2.</font> Passing Data into functions created in Q5(a) -  of Top10 Country Womens ICC-Official Name

In [1310]:
# list of Top10 Womens Cricket team names- Full

top_wo_icc_name1=country_name1(wpl)#-----------------------------Using function created in Q5(a)
top_wo_icc_name1[:4] #---------------------------displaying only 4 countries to avoid clutter

['Australia', 'England', 'South Africa', 'India']

<h3><font color='green'> NEXT: Step3.</font> Passing Data into functions created in Q5(a) -  of Top10 Country Womens ICC-short Name

In [1311]:
# list of Top10 Womens Cricket team names- Short

top_wo_icc_name2=country_name2(wpl)#-----------------------------------Using function created in Q5(a)
top_wo_icc_name2[:4] #---------------------------displaying only 4 countries to avoid clutter

['AUS', 'ENG', 'SA', 'IND']

<h3><font color='green'> NEXT: Step4.</font> Passing Data into functions created in Q5(a) -  Function to generate Total matched played & team Score

In [1309]:
#list of top10 womens teams' total matches played and team score in one list

wo_mp_score=country_match_np(wpl) #-----------------Using function from Q5(a) to give a list of matches played & Team score
wo_mp_score[:8] #----------displaying only 4 sets of data to avoid clutter

['29', '4,837', '33', '4,046', '35', '4,157', '32', '3,219']

<h5>Seperating the elements of the above list to give rise to two lists- womens match played by team and womens team rating.

In [1315]:
# since the above list is populated by each teams matches played and scores sequentially. 
# We can use string operators to seperate odd and even elements
wo_matches_played = [p for a, p in enumerate(wo_mp_score) if a % 2 == 0]
wo_team_score = [q for b, q in enumerate(wo_mp_score) if b % 2 != 0]

print("Matches played by listed teams:",wo_matches_played)
print()
print('Listed team Scores:',wo_team_score,)

Matches played by listed teams: ['29', '33', '35', '32', '31', '30', '12', '30', '9', '11', '8']

Listed team Scores: ['4,837', '4,046', '4,157', '3,219', '3,019', '2,768', '930', '1,962', '405', '495', '0']

In [1318]:
wo_icc_rating=country_rting(wpl)
#wo_icc_rating

<h3><font color='green'> NEXT: Step5.</font> Compiling Lists to make a Dictionary.

In [1321]:
#initialising a dictionary to store the lists as a precursor to make a dataframe.
icc_womens_stats= dict()
#Adding lists to Dictionary
icc_womens_stats = {'Country | Official Name':top_wo_icc_name1, 'Country | Short Name':top_wo_icc_name2,'Matches Played':wo_matches_played,'Points Scored':wo_team_score, 'Rating':wo_icc_rating}
icc_womens_stats

{'Country | Official Name': ['Australia',
  'England',
  'South Africa',
  'India',
  'New Zealand',
  'West Indies',
  'Bangladesh',
  'Pakistan',
  'Ireland',
  'Sri Lanka',
  'Zimbabwe'],
 'Country | Short Name': ['AUS',
  'ENG',
  'SA',
  'IND',
  'NZ',
  'WI',
  'BAN',
  'PAK',
  'IRE',
  'SL',
  'ZIM'],
 'Matches Played': ['29',
  '33',
  '35',
  '32',
  '31',
  '30',
  '12',
  '30',
  '9',
  '11',
  '8'],
 'Points Scored': ['4,837',
  '4,046',
  '4,157',
  '3,219',
  '3,019',
  '2,768',
  '930',
  '1,962',
  '405',
  '495',
  '0'],
 'Rating': ['\n                            167\n                            \n\n',
  '123',
  '119',
  '101',
  '97',
  '92',
  '78',
  '65',
  '45',
  '45',
  '0']}

<h3><font color='green'> FINALLY: Step6.</font> Displaying Dictionary as Dataframe.----Solution 6(a)

In [1323]:
icc_womens_df = pd.DataFrame(icc_womens_stats)
icc_womens_df.index = np.arange(1,len(icc_womens_df)+1)
print('Solution to 6(a)')
icc_womens_df.head(10)

Solution to 6(a)

,Country | Official Name,Country | Short Name,Matches Played,Points Scored,Rating
1,Australia,AUS,29,"4,837",\n 167\n \n\n
2,England,ENG,33,"4,046",123
3,South Africa,SA,35,"4,157",119
4,India,IND,32,"3,219",101
5,New Zealand,NZ,31,"3,019",97
6,West Indies,WI,30,"2,768",92
7,Bangladesh,BAN,12,930,78
8,Pakistan,PAK,30,"1,962",65
9,Ireland,IRE,9,405,45
10,Sri Lanka,SL,11,495,45

<h3>b) Top 10 women’s ODI Batting players along with the records of their team and rating.

<h3>Solution: 
<br><h3><font color='green'> FIRST: Step1.</font> Request access to share source code

In [1335]:
def wo_players():
    path3= 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
    wo_player=requests.get(path3)
    #error handling
    #if response is anything except 200 an exception is made
    if wo_player.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path3}')
    # Parse using BeautifulSoup function
    playr = BeautifulSoup(wo_player.content, 'html.parser')
    return playr

In [1336]:
wbt=wo_players()
#wbt

<h3><font color='green'> NEXT: Step2.</font>- Passing values to functions in 5(b) to find player positions

In [1337]:
wo_pos=player_pos(wbt)#------------------------------function to find Player positions
wo_pos[:10]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

<h3><font color='green'> NEXT: Step3.</font>- Passing values to functions in 5(b) to find top10 Batting players Names-Women

In [1357]:
#As discussed earlier, the top three players, from different genres, are in one block.
wo_rk1name = playername1(wbt)
wo_rk1name

['Alyssa Healy', 'Sophie Ecclestone', 'Natalie Sciver']

In [1344]:
#Passing values to find Rank 2-10 Batting players' Names-women
wo_rk2_10 = name2_10(wbt)[:9]
wo_rk2_10

['Beth Mooney',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Chamari Athapaththu',
 'Smriti Mandhana']

<h3><font color='green'> NEXT: Step4.</font>- Passing values to functions in 5(b) to find top10 Batting players origin

In [1346]:
#Rank1 Batting Players-origin
wo_rk1_origin=player_origin(wbt)
wo_rk1_origin

['AUS', 'ENG', 'ENG']

In [1348]:
#Rank2-10 Batting PLayers-origin
wo_rk2_10_origin=batnation2_10(wbt)[:9]
wo_rk2_10_origin

['AUS', 'ENG', 'SA', 'AUS', 'AUS', 'NZ', 'ENG', 'SL', 'IND']

<h3><font color='green'> NEXT: Step5.</font>- Passing values to functions in 5(b) to find top10 Batting players rating

In [1349]:
#Rank1 Batting player-Rating
wo_rk1_rating = player_rting(wbt)
wo_rk1_rating

['785', '761', '379']

In [1351]:
#Rank2-10 Batting player-Rating
wo_rk2_10_rating = batnrtg(wbt)
wo_rk2_10_rating[:9]

['749', '747', '732', '710', '701', '681', '667', '655', '649']

<h3><font color='green'> FINALLY: Step6.</font>- Passing values to functions in 5(b) to find top10 Batting players Names-Women

In [1358]:
#initializing dictionary to make df----------compiling the rank1 and rank2-10 in one list while passing values into dictionary
T10bats_wo=dict()
T10bats_wo={'Player Name':(wo_rk1name[:1]+wo_rk2_10),'Position':wo_pos[:10], 'Country':(wo_rk1_origin[:1]+wo_rk2_10_origin), 'Rating':(wo_rk1_rating[:1]+wo_rk2_10_rating[:9])}
T10bats_wo

{'Player Name': ['Alyssa Healy',
  'Beth Mooney',
  'Natalie Sciver',
  'Laura Wolvaardt',
  'Meg Lanning',
  'Rachael Haynes',
  'Amy Satterthwaite',
  'Tammy Beaumont',
  'Chamari Athapaththu',
  'Smriti Mandhana'],
 'Position': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 'Country': ['AUS',
  'AUS',
  'ENG',
  'SA',
  'AUS',
  'AUS',
  'NZ',
  'ENG',
  'SL',
  'IND'],
 'Rating': ['785',
  '749',
  '747',
  '732',
  '710',
  '701',
  '681',
  '667',
  '655',
  '649']}

In [1359]:
icc_wo_bats_df = pd.DataFrame(T10bats_wo)
icc_wo_bats_df.index = np.arange(1,len(icc_mens_bats_df)+1)

<h5>Solution to 6(b)

In [1360]:
icc_wo_bats_df

            Player Name Position Country Rating
1          Alyssa Healy        1     AUS    785
2           Beth Mooney        2     AUS    749
3        Natalie Sciver        3     ENG    747
4       Laura Wolvaardt        4      SA    732
5           Meg Lanning        5     AUS    710
6        Rachael Haynes        6     AUS    701
7     Amy Satterthwaite        7      NZ    681
8        Tammy Beaumont        8     ENG    667
9   Chamari Athapaththu        9      SL    655
10      Smriti Mandhana       10     IND    649

<h3>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

<h3><font color='green'> FIRST: Step1.</font>- Passing values to functions in 5(c) to find top10 Batting players Ranks-Women

In [1361]:
#Ranks1-10
wo_pos_ar=player_pos(pl)[20:30]
wo_pos_ar #---------------------------to be used in forming df

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

<h3><font color='green'> FIRST: Step1.</font>- Passing values to functions in 5(c) to find top10 Batting players Ranks-Women

In [1362]:
#Rank1 Allrounder- Woman
wo_ar_name1=playername1(wbt)[2:3]
wo_ar_name1

['Natalie Sciver']

In [1364]:
#Rank2-10 Allrounder- Woman
wo_ar_name210 = batname2_10(wbt)[18:27]
wo_ar_name210[:4]#-----------------displaying only 4 to avoid clutter

['Ellyse Perry', 'Marizanne Kapp', 'Hayley Matthews', 'Amelia Kerr']

<h3><font color='green'> FIRST: Step2.</font>- Passing values to functions in 5(c) to find top10 Batting players Rank1-country

In [1365]:
# Rank1 All-rounder-Womans -country
wo_ar_origin1 = player_origin(wbt)[2:3] 
wo_ar_origin1

['ENG']

In [1367]:
#Rank 2-10 All-Rounders' origin country
wo_ar_origin210 = batnation2_10(wbt)[18:27]
wo_ar_origin210

['AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'WI']

<h3><font color='green'> NEXT: Step3.</font>- Passing values to functions in 5(c) to find top10 Batting players Ratings-Women

In [1368]:
#Rank 1 All Rounders' rating
wo_ar_rating1 = player_rting(wbt)[2:3]
wo_ar_rating1

['379']

In [1369]:
#Rank 2-10 All-Rounders' rating
wo_ar_rating210 = batnrtg(wbt)[18:27]
wo_ar_rating210

['374', '349', '339', '336', '270', '252', '246', '220', '207']

<h3><font color='green'> FINALLY: Step4.</font>- Passing values to functions in 5(c) to feed into DF

In [1370]:
#initializing dictionary to make df
T10_wo_ar = dict()
T10_wo_ar = {'Player Name':(wo_ar_name1+wo_ar_name210),'Position':wo_pos_ar, 'Country':(wo_ar_origin1 +wo_ar_origin210), 'Rating':(wo_ar_rating1+wo_ar_rating210)}
T10_wo_ar

{'Player Name': ['Natalie Sciver',
  'Ellyse Perry',
  'Marizanne Kapp',
  'Hayley Matthews',
  'Amelia Kerr',
  'Ashleigh Gardner',
  'Deepti Sharma',
  'Jess Jonassen',
  'Katherine Brunt',
  'Stafanie Taylor'],
 'Position': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 'Country': ['ENG', 'AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'WI'],
 'Rating': ['379',
  '374',
  '349',
  '339',
  '336',
  '270',
  '252',
  '246',
  '220',
  '207']}

In [1375]:
#Initialising and Displaying dict as DF
icc_womens_ar_df= pd.DataFrame(T10_wo_ar)
icc_womens_ar_df

        Player Name Position Country Rating
0    Natalie Sciver        1     ENG    379
1      Ellyse Perry        2     AUS    374
2    Marizanne Kapp        3      SA    349
3   Hayley Matthews        4      WI    339
4       Amelia Kerr        5      NZ    336
5  Ashleigh Gardner        6     AUS    270
6     Deepti Sharma        7     IND    252
7     Jess Jonassen        8     AUS    246
8   Katherine Brunt        9     ENG    220
9   Stafanie Taylor       10      WI    207

<h2><center><font color= 'red'>SUCCESS!!!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2><font color='blue'>7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world : <br>
<br>i) Headline
<br>ii) Time
<br>iii) News Link

<h3>i) Headline

<h3><font color='green'> FIRST: Step1.</font> Scraping

In [500]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [501]:
#Creating a Error handling enabled function, that requests access to parse source code into python.
def cnbc_access():
    path5= 'https://www.cnbc.com/world/?region=world'
    anchor=requests.get(path5)
    #error handling
    #if response is anything except 200 an exception is made
    if anchor.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path5}')
    # Parse using BeautifulSoup function
    news = BeautifulSoup(anchor.content, 'html.parser')
    return news

In [502]:
ns=cnbc_access()
#ns

In [503]:
#Finding one match----------this way missing propill news--need alternate sourcing
match=ns.find('div',class_="LatestNews-headlineWrapper")
hline=match.a.text
print(hline)

Struggling with long Covid? Here's what you should  — and should not — eat

In [504]:
#alternative catch------ finding normal and propill news. 
match2=ns.find('a',class_='LatestNews-headline')
hline2=match2.text
hline2

"Struggling with long Covid? Here's what you should  — and should not — eat"

In [505]:
#Function to catch all headings in the page.
def h_line(ns):
    artle="LatestNews-headline"
    line=ns.find_all('a',{'class',artle})
    headline=[]
    
    for head in line:
        paper=head.text
        headline.append(paper)
    return headline

In [506]:
headlines=h_line(ns)
#len(headlines)
headlines

["Struggling with long Covid? Here's what you should  — and should not — eat",
 "Chinese stocks' U.S. delisting risk halves after audit deal, Goldman says ",
 'China tech giants saw their worst quarterly growth, thanks to zero-Covid policy',
 'Warren Buffett loves this stock. But Morningstar thinks it should be trading lower ',
 "Goldman says we're at an 'inflection point' and it's time for a new playbook ",
 "Japan's Nikkei leads losses as Asia markets drop after Powell's Jackson Hole speech",
 'Cramer: I will not abandon tech stocks because the end of their downturn is near',
 'Dow futures sink around 200 points as Wall Street looks set to continue rout',
 'This company wants to pay you to watch 13 classic horror movies—how to apply',
 'These are the 10 happiest travel destinations in North America',
 'Where Amazon is heading in health after the Amazon Care failure',
 "This CEO has 1 weekly activity that gives him the ‘very best ideas'",
 "32-year-old poker champ: Here's how to read people and become mentally tough",
 'How Amazon is giving Rivian an edge in the EV industry',
 "Pet 'moms and dads' are spending more. Here's where to find growth",
 'Even with two checks in September, Supplemental Security Income falls short',
 'UBS upgrades lithium sector as demand rises. These stocks are poised to benefit',
 "Wall Street's favorite Dow stocks, and where analysts think they're going",
 'Cash is king for EV makers as soaring battery prices drive up production costs',
 "Airbnb hosts buy long-abandoned TX house and find 'valuable collectibles'",
 'Read these 6 books if you want to learn more about your attachment style',
 "This retired couple left the U.S. and bought a home in Portugal for $534,000—here's a look inside",
 'Hold on before jumping to the conclusion the market will test the June low',
 "U.S. companies are reshoring at a rapid pace. Here's how to play the trend",
 'Wall Street analysts name the most well-positioned stocks for the long term',
 "Energy companies' cash flows could top $1 trillion this year",
 'The 10 best U.S. cities for new grads to start a career',
 'Climate change may bring back wind as the future power source for ocean ships',
 "Here's how to figure out if you qualify for federal student loan forgiveness",
 'Mortgage denial rate for Black borrowers is twice that of overall population']

In [507]:
#composing the list into a dictionary. 
HeadLines=dict()
HeadLines={'List of Headlines':headlines}

#displaying as Dataframe.
Headlines_df=pd.DataFrame(HeadLines)
Headlines_df.index = np.arange(1,len(Headlines_df)+1)
print("TODAY'S HEADLINES")
print()
print()
Headlines_df

TODAY'S HEADLINES

                                    List of Headlines
1   Struggling with long Covid? Here's what you sh...
2   Chinese stocks' U.S. delisting risk halves aft...
3   China tech giants saw their worst quarterly gr...
4   Warren Buffett loves this stock. But Morningst...
5   Goldman says we're at an 'inflection point' an...
6   Japan's Nikkei leads losses as Asia markets dr...
7   Cramer: I will not abandon tech stocks because...
8   Dow futures sink around 200 points as Wall Str...
9   This company wants to pay you to watch 13 clas...
10  These are the 10 happiest travel destinations ...
11  Where Amazon is heading in health after the Am...
12  This CEO has 1 weekly activity that gives him ...
13  32-year-old poker champ: Here's how to read pe...
14  How Amazon is giving Rivian an edge in the EV ...
15  Pet 'moms and dads' are spending more. Here's ...
16  Even with two checks in September, Supplementa...
17  UBS upgrades lithium sector as demand rises. T...
18  Wall Street's favorite Dow stocks, and where a...
19  Cash is king for EV makers as soaring battery ...
20  Airbnb hosts buy long-abandoned TX house and f...
21  Read these 6 books if you want to learn more a...
22  This retired couple left the U.S. and bought a...
23  Hold on before jumping to the conclusion the m...
24  U.S. companies are reshoring at a rapid pace. ...
25  Wall Street analysts name the most well-positi...
26  Energy companies' cash flows could top $1 tril...
27  The 10 best U.S. cities for new grads to start...
28  Climate change may bring back wind as the futu...
29  Here's how to figure out if you qualify for fe...
30  Mortgage denial rate for Black borrowers is tw...

<h2>Time-timestamp

In [508]:
#Function to catch all headings in the page.
def h_timestamp(ns):
    artle="LatestNews-timestamp"
    line=ns.find_all('time',{'class',artle})
    time_stamp=[]
    
    for time in line:
        clock=time.text
        time_stamp.append(clock)
    return time_stamp

In [509]:
timestamp = h_timestamp(ns)
#len(timestamp)
timestamp[:5]

['30 Min Ago', '47 Min Ago', '3 Hours Ago', '4 Hours Ago', '4 Hours Ago']

<h2>Newslink for the headline

In [510]:
def nlhl(ns):
    news_link_hl=[]
    for link in ns.find_all('a', attrs={'href': re.compile("^https://")}):
        news_link_hl.append(link.get('href'))       
    return news_link_hl

In [511]:
nl_headlines=nlhl(ns)[15:45]#--- on careful examination.- the above links in this range belong to the 30 headline articles.
nl_headlines

['https://www.cnbc.com/2022/08/29/struggling-with-long-covid-heres-what-you-should-and-should-not-eat.html',
 'https://www.cnbc.com/2022/08/29/struggling-with-long-covid-heres-what-you-should-and-should-not-eat.html',
 'https://www.cnbc.com/2022/08/29/goldman-us-delisting-risk-for-chinese-adr-stocks-halves-after-deal.html',
 'https://www.cnbc.com/2022/08/29/chinese-tech-giants-post-worst-growth-on-record-due-to-zero-covid.html',
 'https://www.cnbc.com/2022/08/29/morningstar-buffett-backed-stock-still-overvalued-despite-turnaround-.html',
 'https://www.cnbc.com/2022/08/29/goldman-says-were-at-an-inflection-point-with-higher-volatility.html',
 'https://www.cnbc.com/2022/08/29/asia-markets-jerome-powell-jackson-hole-china-industrial-profits-drop.html',
 'https://www.cnbc.com/2022/08/28/cramer-i-will-not-abandon-tech-stocks-as-end-of-downturn-is-near.html',
 'https://www.cnbc.com/2022/08/28/stock-market-news-futures-open-to-close-live-updates.html',
 'https://www.cnbc.com/2022/08/28/dish-is-paying-1300-to-watch-13-stephen-king-movieswhat-to-know.html',
 'https://www.cnbc.com/2022/08/28/club-med-top-10-happiest-travel-destinations-in-north-america.html',
 'https://www.cnbc.com/2022/08/28/where-amazon-is-heading-in-health-after-the-amazon-care-failure.html',
 'https://www.cnbc.com/2022/08/28/goodrx-ceo-doug-hirsch-weekly-activity-results-in-very-best-ideas.html',
 'https://www.cnbc.com/2022/08/28/poker-champ-dan-cates-how-to-read-people-become-mentally-tough.html',
 'https://www.cnbc.com/2022/08/28/how-amazon-is-giving-rivian-an-edge-in-the-ev-industry.html',
 'https://www.cnbc.com/2022/08/28/pet-moms-and-dads-are-spending-more-on-their-pets-heres-where-to-find-growth.html',
 'https://www.cnbc.com/2022/08/28/with-two-checks-in-september-supplemental-security-income-falls-short.html',
 'https://www.cnbc.com/2022/08/28/ubs-upgrades-lithium-sector-as-demand-rises-favors-these-stocks.html',
 'https://www.cnbc.com/2022/08/28/these-are-wall-streets-favorite-dow-stocks-and-where-analysts-think-theyre-going.html',
 'https://www.cnbc.com/2022/08/28/ev-makers-face-cash-squeeze-amid-soaring-battery-production-costs.html',
 'https://www.cnbc.com/2022/08/27/texas-couple-turning-abandoned-house-into-an-airbnb-find-collectibles.html',
 'https://www.cnbc.com/2022/08/27/6-books-to-read-if-you-want-to-learn-more-about-your-attachment-style.html',
 'https://www.cnbc.com/2022/08/27/retired-couple-left-the-us-and-bought-an-apartment-in-portugal-for-534000-look-inside-their-home.html',
 'https://www.cnbc.com/2022/08/27/testing-junes-stock-market-low-isnt-a-foregone-conclusion.html',
 'https://www.cnbc.com/2022/08/27/us-companies-are-reshoring-at-a-rapid-pace-heres-how-to-play-the-trend.html',
 'https://www.cnbc.com/2022/08/27/analysts-say-buy-outsized-growth-stocks-such-as-nio-world-wrestling-entertainment.html',
 'https://www.cnbc.com/2022/08/27/energy-companies-cash-flows-could-top-1-trillion-here-are-analysts-favorite-names-in-the-sector.html',
 'https://www.cnbc.com/2022/08/27/best-us-cities-for-new-grads-to-start-a-career.html',
 'https://www.cnbc.com/2022/08/27/how-ocean-shipping-goes-green-from-wind-power-to-liquid-hydrogen.html',
 'https://www.cnbc.com/2022/08/27/do-you-make-too-much-for-student-loan-forgiveness-heres-what-to-know.html']

<h2>NewsLink-</h2> <h4>Assuming it is the live "watch Live" link

In [512]:
#inspected the webpage and URl, found that there was only one instance of the watch Live button, hence found that instance.
lve=ns.find('div',class_="FeaturedVideoHeader-container FeaturedVideoHeader-lightMode")
nlink=(lve.a)['href'] #-------Since we did not need the text data, accessed the link as a dictionary.
print(nlink)

//www.cnbc.com/live-tv/

<h2> Compiling all sub questions into one Dataframe for Q7

In [513]:
#composing all the lists in  Q7 into a dictionary. 
headlines_info=dict()
headlines_info={'Headlines':headlines,'Timestamp':timestamp ,'URL for Headline':nl_headlines}

#displaying as Dataframe.
headlines_info_df=pd.DataFrame(headlines_info)
headlines_info_df.index = np.arange(1,len(headlines_info_df)+1)
print("Compilation for Q7")
print()
print("Link for live News: ",nlink)
headlines_info_df

Compilation for Q7

Link for live News:  //www.cnbc.com/live-tv/

,Headlines,Timestamp,URL for Headline
1,Struggling with long Covid? Here's what you sh...,30 Min Ago,https://www.cnbc.com/2022/08/29/struggling-wit...
2,Chinese stocks' U.S. delisting risk halves aft...,47 Min Ago,https://www.cnbc.com/2022/08/29/struggling-wit...
3,China tech giants saw their worst quarterly gr...,3 Hours Ago,https://www.cnbc.com/2022/08/29/goldman-us-del...
4,Warren Buffett loves this stock. But Morningst...,4 Hours Ago,https://www.cnbc.com/2022/08/29/chinese-tech-g...
5,Goldman says we're at an 'inflection point' an...,4 Hours Ago,https://www.cnbc.com/2022/08/29/morningstar-bu...
6,Japan's Nikkei leads losses as Asia markets dr...,5 Hours Ago,https://www.cnbc.com/2022/08/29/goldman-says-w...
7,Cramer: I will not abandon tech stocks because...,6 Hours Ago,https://www.cnbc.com/2022/08/29/asia-markets-j...
8,Dow futures sink around 200 points as Wall Str...,7 Hours Ago,https://www.cnbc.com/2022/08/28/cramer-i-will-...
9,This company wants to pay you to watch 13 clas...,11 Hours Ago,https://www.cnbc.com/2022/08/28/stock-market-n...
10,These are the 10 happiest travel destinations ...,13 Hours Ago,https://www.cnbc.com/2022/08/28/dish-is-paying...
11,Where Amazon is heading in health after the Am...,15 Hours Ago,https://www.cnbc.com/2022/08/28/club-med-top-1...
12,This CEO has 1 weekly activity that gives him ...,15 Hours Ago,https://www.cnbc.com/2022/08/28/where-amazon-i...
13,32-year-old poker champ: Here's how to read pe...,16 Hours Ago,https://www.cnbc.com/2022/08/28/goodrx-ceo-dou...
14,How Amazon is giving Rivian an edge in the EV ...,16 Hours Ago,https://www.cnbc.com/2022/08/28/poker-champ-da...
15,Pet 'moms and dads' are spending more. Here's ...,16 Hours Ago,https://www.cnbc.com/2022/08/28/how-amazon-is-...
16,"Even with two checks in September, Supplementa...",16 Hours Ago,https://www.cnbc.com/2022/08/28/pet-moms-and-d...
17,UBS upgrades lithium sector as demand rises. T...,17 Hours Ago,https://www.cnbc.com/2022/08/28/with-two-check...
18,"Wall Street's favorite Dow stocks, and where a...",17 Hours Ago,https://www.cnbc.com/2022/08/28/ubs-upgrades-l...
19,Cash is king for EV makers as soaring battery ...,18 Hours Ago,https://www.cnbc.com/2022/08/28/these-are-wall...
20,Airbnb hosts buy long-abandoned TX house and f...,"August 27, 2022",https://www.cnbc.com/2022/08/28/ev-makers-face...
21,Read these 6 books if you want to learn more a...,"August 27, 2022",https://www.cnbc.com/2022/08/27/texas-couple-t...
22,This retired couple left the U.S. and bought a...,"August 27, 2022",https://www.cnbc.com/2022/08/27/6-books-to-rea...
23,Hold on before jumping to the conclusion the m...,"August 27, 2022",https://www.cnbc.com/2022/08/27/retired-couple...
24,U.S. companies are reshoring at a rapid pace. ...,"August 27, 2022",https://www.cnbc.com/2022/08/27/testing-junes-...
25,Wall Street analysts name the most well-positi...,"August 27, 2022",https://www.cnbc.com/2022/08/27/us-companies-a...
26,Energy companies' cash flows could top $1 tril...,"August 27, 2022",https://www.cnbc.com/2022/08/27/analysts-say-b...
27,The 10 best U.S. cities for new grads to start...,"August 27, 2022",https://www.cnbc.com/2022/08/27/energy-compani...
28,Climate change may bring back wind as the futu...,"August 27, 2022",https://www.cnbc.com/2022/08/27/best-us-cities...
29,Here's how to figure out if you qualify for fe...,"August 27, 2022",https://www.cnbc.com/2022/08/27/how-ocean-ship...
30,Mortgage denial rate for Black borrowers is tw...,"August 27, 2022",https://www.cnbc.com/2022/08/27/do-you-make-to...

<h2><center><font color='red'> SUCCESS!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2><font color='blue'>8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.<br> 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
<br>i) Paper Title 
<br>ii) Authors
<br>iii) Published Date 
<br>iv) Paper URL

<h3><font color='green'> FIRST: Step1.</font> Request access to Source code for the webpage given

In [5]:
def journ():
    path7= 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
    book=requests.get(path7)
    #error handling
    #if response is anything except 200 an exception is made
    if book.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path7}')
    # Parse using BeautifulSoup function
    jnl = BeautifulSoup(book.content, 'html.parser')
    return jnl

In [6]:
jl=journ()
#jl

<h3><font color='green'> NEXT: Step2.</font> Scraping the Title of the Published Paper.

In [7]:
#Upon analysing the data, it is found that the title is in the 'ul' tags. checking directory for 1 instance
epap=jl.find('ul', class_='sc-9zxyh7-0 ffmPq')
title=epap.a.text
print(title)

Reward is enough

In [8]:
#above method cannot be used to find all instances of the tags, Hence employed another method, searching through another tag
def epaper(jl):
    artle="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"
    
    titles=[]
    
    for ti in jl.find_all('h2',class_=artle):
        titles.append(ti.text)        
    return titles

In [9]:
paper_title=epaper(jl)
paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [10]:
#composing the list into a dictionary. 
title_di=dict()
title_di={'List of Paper Title':paper_title}

#displaying as Dataframe.
title_df=pd.DataFrame(title_di)
title_df.index = np.arange(1,len(title_df)+1)
print("titles")
print()
print()
title_df

titles

                                  List of Paper Title
1                                    Reward is enough
2                           Making sense of raw input
3   Law and logic: A review from an argumentation ...
4              Creativity and artificial intelligence
5   Artificial cognition for social human–robot in...
6   Explanation in artificial intelligence: Insigh...
7                       Making sense of sensory input
8   Conflict-based search for optimal multi-agent ...
9   Between MDPs and semi-MDPs: A framework for te...
10  The Hanabi challenge: A new frontier for AI re...
11  Evaluating XAI: A comparison of rule-based and...
12           Argumentation in artificial intelligence
13  Algorithms for computing strategies in two-pla...
14      Multiple object tracking: A literature review
15  Selection of relevant features and examples in...
16  A survey of inverse reinforcement learning: Ch...
17  Explaining individual predictions when feature...
18  A review of possible effects of cognitive bias...
19  Integrating social power into the decision-mak...
20  “That's (not) the output I expected!” On the r...
21  Explaining black-box classifiers using post-ho...
22  Algorithm runtime prediction: Methods & evalua...
23              Wrappers for feature subset selection
24  Commonsense visual sensemaking for autonomous ...
25         Quantum computation, quantum theory and AI

<h3><font color='green'> NEXT: Step3.</font> Scraping the Author info of the respective papers

In [11]:
def epaper_auth(jl):
    artle="sc-1w3fpd7-0 pgLAT"
    
    auth=[]
    
    for ta in jl.find_all('span',class_=artle):
        auth.append(ta.text)        
    return auth

In [12]:
author=epaper_auth(jl)
author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [13]:
#composing the author list into a dictionary. 
author_di=dict()
author_di={'List of Paper Title':author}

#displaying as Dataframe.
author_df=pd.DataFrame(author_di)
author_df.index = np.arange(1,len(author_df)+1)
print("Author")
print()
print()
author_df

Author

                                  List of Paper Title
1   Silver, David, Singh, Satinder, Precup, Doina,...
2           Evans, Richard, Bošnjak, Matko and 5 more
3                   Prakken, Henry, Sartor, Giovanni
4                                 Boden, Margaret A.
5     Lemaignan, Séverin, Warnier, Mathieu and 3 more
6                                        Miller, Tim
7   Evans, Richard, Hernández-Orallo, José and 3 more
8   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...
9   Sutton, Richard S., Precup, Doina, Singh, Sati...
10        Bard, Nolan, Foerster, Jakob N. and 13 more
11  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...
12               Bench-Capon, T.J.M., Dunne, Paul E.
13       Bošanský, Branislav, Lisý, Viliam and 3 more
14             Luo, Wenhan, Xing, Junliang and 4 more
15                      Blum, Avrim L., Langley, Pat
16                   Arora, Saurabh, Doshi, Prashant
17      Aas, Kjersti, Jullum, Martin, Løland, Anders
18  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...
19    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.
20                      Riveiro, Maria, Thill, Serge
21  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...
22  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...
23                      Kohavi, Ron, John, George H.
24  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...
25                                   Ying, Mingsheng

<h3><font color='green'> NEXT: Step4.</font> Scraping the published Date info of the respective papers

In [14]:
def epub(jl):
    artle="sc-1thf9ly-2 bKddwo"
    
    pub=[]
    
    for to in jl.find_all('span',class_=artle):
        pub.append(to.text)        
    return pub

In [15]:
pub_date=epub(jl)
pub_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [16]:
#composing the list into a dictionary. 
p_date=dict()
p_date={'List of Paper Title':pub_date}

#displaying as Dataframe.
p_date_df=pd.DataFrame(p_date)
p_date_df.index = np.arange(1,len(p_date_df)+1)
print("Author")
print()
print()
p_date_df

Author

   List of Paper Title
1         October 2021
2         October 2021
3         October 2015
4          August 1998
5            June 2017
6        February 2019
7           April 2021
8        February 2015
9          August 1999
10          March 2020
11       February 2021
12        October 2007
13         August 2016
14          April 2021
15       December 1997
16         August 2021
17      September 2021
18           June 2021
19       December 2016
20      September 2021
21            May 2021
22        January 2014
23       December 1997
24        October 2021
25       February 2010

<h3><font color='green'> NEXT: Step5.</font> Scraping the URL of the respective papers

In [108]:
def purl(jl):
    pur=[]
    for link in jl.find_all('a', attrs={'href': re.compile("^https://")}):
        pur.append(link.get('href'))        
    return pur

In [114]:
papers_urls=purl(jl)[:25]
papers_urls

['https://account.elsevier.com/auth',
 'https://elsevier.com/about',
 'https://www.elsevier.com/connect',
 'https://www.elsevier.com/about/careers',
 'https://elsevier.com/about',
 'https://www.elsevier.com/connect',
 'https://www.elsevier.com/about/careers',
 'https://www.elsevier.com/rd-solutions',
 'https://www.elsevier.com/clinical-solutions',
 'https://www.elsevier.com/research-platforms',
 'https://www.elsevier.com/research-intelligence',
 'https://www.elsevier.com/education',
 'https://www.elsevier.com/solutions',
 'https://www.elsevier.com/rd-solutions',
 'https://www.elsevier.com/clinical-solutions',
 'https://www.elsevier.com/research-platforms',
 'https://www.elsevier.com/research-intelligence',
 'https://www.elsevier.com/education',
 'https://www.elsevier.com/solutions',
 'https://www.elsevier.com/authors',
 'https://www.elsevier.com/editors',
 'https://www.elsevier.com/reviewers',
 'https://www.elsevier.com/librarians',
 'https://www.elsevier.com/strategic-partners',
 'https://www.elsevier.com/open-access']

In [115]:
#composing the list into a dictionary. 
p_url=dict()
p_url={'List of Paper Title':papers_urls}

#displaying as Dataframe.
p_url_df=pd.DataFrame(p_url)
p_url_df.index = np.arange(1,len(p_url_df)+1)
print("urls")
print()
print()
p_url_df

urls

                               List of Paper Title
1                https://account.elsevier.com/auth
2                       https://elsevier.com/about
3                 https://www.elsevier.com/connect
4           https://www.elsevier.com/about/careers
5                       https://elsevier.com/about
6                 https://www.elsevier.com/connect
7           https://www.elsevier.com/about/careers
8            https://www.elsevier.com/rd-solutions
9      https://www.elsevier.com/clinical-solutions
10     https://www.elsevier.com/research-platforms
11  https://www.elsevier.com/research-intelligence
12              https://www.elsevier.com/education
13              https://www.elsevier.com/solutions
14           https://www.elsevier.com/rd-solutions
15     https://www.elsevier.com/clinical-solutions
16     https://www.elsevier.com/research-platforms
17  https://www.elsevier.com/research-intelligence
18              https://www.elsevier.com/education
19              https://www.elsevier.com/solutions
20                https://www.elsevier.com/authors
21                https://www.elsevier.com/editors
22              https://www.elsevier.com/reviewers
23             https://www.elsevier.com/librarians
24     https://www.elsevier.com/strategic-partners
25            https://www.elsevier.com/open-access

<h3><font color='green'> Finally: Step6.</font> Compilation

<h2>Compiling Q8 (i) to (iv) into one dataframe

In [116]:
#composing all the lists in  Q8 into a dictionary. 
Paper_page=dict()
Paper_page={'List of Paper Title':paper_title,'Author':author ,'Published Date':pub_date,'Paper URL':papers_urls}

#displaying as Dataframe.
Paper_page_df=pd.DataFrame(Paper_page)
Paper_page_df.index = np.arange(1,len(Paper_page_df)+1)
print("Compilation")
print()
Paper_page_df

Compilation

,List of Paper Title,Author,Published Date,Paper URL
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://account.elsevier.com/auth
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://elsevier.com/about
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.elsevier.com/connect
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.elsevier.com/about/careers
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://elsevier.com/about
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.elsevier.com/connect
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.elsevier.com/about/careers
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.elsevier.com/rd-solutions
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.elsevier.com/clinical-solutions
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.elsevier.com/research-platforms
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.elsevier.com/research-intelligence
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.elsevier.com/education
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.elsevier.com/solutions
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.elsevier.com/rd-solutions
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.elsevier.com/clinical-solutions
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.elsevier.com/research-platforms
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.elsevier.com/research-intelligence
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.elsevier.com/education
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.elsevier.com/solutions
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.elsevier.com/authors
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.elsevier.com/editors
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.elsevier.com/reviewers
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.elsevier.com/librarians
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.elsevier.com/strategic-partners
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.elsevier.com/open-access

<h2><center><font color='red'>SUCCESS!!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2><font color='blue'>9) Write a python program to scrape mentioned details from dineout.co.in :
<br>i) Restaurant name
<br>ii) Cuisine
<br>iii) Location 
<br>iv) Ratings
<br>v) Image URL

<h3><font color='green'> FIRST: Step1.</font> Request access to the source code of webpage and then use BS to parse the Source code into python

In [167]:
import requests
from bs4 import BeautifulSoup
def dineout_access():

    path10= "https://www.dineout.co.in/bangalore-restaurants"
    dine=requests.get(path10)
    #error handling
    #if response is anything except 200 an exception is made
    if dine.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path10}')
    # Parse using BeautifulSoup function
    out = BeautifulSoup(dine.content, 'html.parser')
    return out

In [168]:
din=dineout_access()

<h3><font color='green'> NEXT: Step2.</font> Scraping Restaurant names by accessing the "alt" tag

In [518]:
#Not working- unable to scrape the 'alt' tags. tried different techniques 
def do_rest_names(din):
    
    #marquee the selection
    
    vessel="restnt-main-wrap clearfix"
    bowl=din.find_all('div',{'class':vessel})
    
    #Inititalise Empty list to store names
    
    res_names_dinout =[]
    
   
    #select all the names from marquee
    for spoon in bowl:
        spoon1=spoon
        res_names_dinout.append(spoon1.text)
    
    #return names
        
    return res_names_dinout

In [519]:
dineout_restaurant_names=do_rest_names(din)[:21]
dineout_restaurant_names
#images_list.append({"src": src, "alt": alt})

['4.44.3232 votesThe Bier Library Brewery & KitchenKoramangala, South Bangalore₹ 1,900 for 2 (approx) | Continental, Finger Food, North IndianDineout Pay',
 'In high demand4.34.3232 votesUru BrewparkJP Nagar, South Bangalore₹ 2,000 for 2 (approx) | North Indian, Italian, Continental, AsianDineout Pay',
 '4.44.3232 votesHard Rock CafeSt. Marks Road, Central Bangalore₹ 2,500 for 2 (approx) | Continental, American, Finger FoodDineout Pay',
 '4.44.3232 votesBiergartenKoramangala, South Bangalore₹ 2,400 for 2 (approx) | Continental, EuropeanDineout Pay',
 '3.74.3232 votesNo Limmits Lounge and ClubAllied Grand Plaza,Magrath Road, Central Bangalore₹ 1,900 for 2 (approx) | North Indian, Continental, Chinese6 deals availableDineout PayDesi SundayBuy NowSouth Night Buy NowDeluxe Night PartyBuy NowLadies Night Buy NowThursday BoomboxBuy NowFriday Bangalore Cocktail NightBuy Now+5 more deals- See less',
 '4.34.3232 votesThe Bangalore CafeShanti Nagar, Central Bangalore₹ 800 for 2 (approx) | Continental, North Indian, Fast FoodDineout Pay',
 '4.54.3232 votesToscanoUB City,Vittal Mallya Road, Central Bangalore₹ 1,600 for 2 (approx) | ItalianDineout Pay',
 '4.24.3232 votesBadmaashUB City,Vittal Mallya Road, Central Bangalore₹ 1,500 for 2 (approx) | North Indian, Chettinad, Andhra, BiryaniDineout Pay',
 '4.44.3232 votesCafe NoirUB City,Vittal Mallya Road, Central Bangalore₹ 1,700 for 2 (approx) | Continental, French, European, Health Food, BeveragesDineout Pay',
 '4.34.3232 votesThe Biere ClubVittal Mallya Road, Central Bangalore₹ 2,000 for 2 (approx) | Finger FoodDineout Pay',
 '4.14.3232 votes21st Amendment GastrobarIndiranagar, East Bangalore₹ 1,500 for 2 (approx) | North Indian, Continental, Chinese, Fast FoodDineout Pay',
 '4.44.3232 votesJW KitchenJW Marriott Hotel,Vittal Mallya Road, Central Bangalore₹ 2,200 for 2 (approx) | North Indian, ContinentalDineout Pay',
 '4.34.3232 votesCafe AzzureMG Road, Central Bangalore₹ 1,200 for 2 (approx) | Continental, Italian, Desserts, BengaliDineout Pay',
 '4.54.3232 votesSalt - Indian Restaurant Bar & GrillUB City, Central Bangalore₹ 1,500 for 2 (approx) | North Indian, MughlaiDineout Pay',
 '4.34.3232 votesSanchezUB City,Vittal Mallya Road, Central Bangalore₹ 1,800 for 2 (approx) | MexicanDineout Pay',
 'Popular for food44.3232 votesRaahiSt. Marks Road, Central Bangalore₹ 1,900 for 2 (approx) | FusionDineout Pay',
 '4.34.3232 votesDaddyIndiranagar, East Bangalore₹ 2,200 for 2 (approx) | Asian, North Indian, European, ItalianDineout Pay',
 '4.34.3232 votesSpice TerraceJW Marriott Hotel,Vittal Mallya Road, Central Bangalore₹ 3,900 for 2 (approx) | North Indian, MughlaiDineout Pay',
 '4.44.3232 votes1522 - The PubResidency Road, Central Bangalore₹ 1,600 for 2 (approx) | Continental, North Indian, Italian, AsianDineout Pay',
 '4.34.3232 votesFarzi CafeUB City,Vittal Mallya Road, Central Bangalore₹ 1,600 for 2 (approx) | Modern IndianDineout Pay',
 '4.34.3232 votesStories Brewery and KitchenBTM Layout, South Bangalore₹ 2,000 for 2 (approx) | Continental, Italian, Chinese, North IndianDineout Pay']

In [397]:
#new technique-concept inspired by logic found online
#Restaurant names
imgs = [div.find('img') for div in din.find_all("div", {"class":"restnt-main-wrap clearfix"}) if div.find('img')]
dinout_rest_names = [img.get('alt') for img in imgs][:21]
dinout_rest_names

['The Bier Library Brewery & Kitchen',
 'Uru Brewpark',
 'Hard Rock Cafe',
 'Biergarten',
 'No Limmits Lounge and Club',
 'The Bangalore Cafe',
 'Toscano',
 'Badmaash',
 'Cafe Noir',
 'The Biere Club',
 '21st Amendment Gastrobar',
 'JW Kitchen',
 'Cafe Azzure',
 'Salt - Indian Restaurant Bar & Grill',
 'Sanchez',
 'Raahi',
 'Daddy',
 'Spice Terrace',
 '1522 - The Pub',
 'Farzi Cafe',
 'Stories Brewery and Kitchen']

<h3><font color='green'> NEXT: Step3.</font> Scraping the cuisine info from the source code.

In [294]:
def dine0ut_cuisine(din):
    artle="double-line-ellipsis"
    
    cuisine=[]
    
    for plate in din.find_all('span',class_=artle):
        cuisine.append(plate.text.split('|').pop(1))        
    return cuisine

In [398]:
dineout_rest_cuisine=dine0ut_cuisine(din)[:21]
dineout_rest_cuisine

[' Continental, Finger Food, North Indian',
 ' North Indian, Italian, Continental, Asian',
 ' Continental, American, Finger Food',
 ' Continental, European',
 ' North Indian, Continental, Chinese',
 ' Continental, North Indian, Fast Food',
 ' Italian',
 ' North Indian, Chettinad, Andhra, Biryani',
 ' Continental, French, European, Health Food, Beverages',
 ' Finger Food',
 ' North Indian, Continental, Chinese, Fast Food',
 ' North Indian, Continental',
 ' Continental, Italian, Desserts, Bengali',
 ' North Indian, Mughlai',
 ' Mexican',
 ' Fusion',
 ' Asian, North Indian, European, Italian',
 ' North Indian, Mughlai',
 ' Continental, North Indian, Italian, Asian',
 ' Modern Indian',
 ' Continental, Italian, Chinese, North Indian']

<h3><font color='green'> NEXT: Step4.</font> Scraping Location info of the Restaurant

In [297]:
def dine0ut_area(din):
    artle="restnt-loc ellipsis"
    
    ar=[]
    
    for street in din.find_all('div',class_=artle):
        ar.append(street.text)        
    return ar

In [399]:
dineout_rest_loc=dine0ut_area(din)[:21]
dineout_rest_loc

['Koramangala, South Bangalore',
 'JP Nagar, South Bangalore',
 'St. Marks Road, Central Bangalore',
 'Koramangala, South Bangalore',
 'Allied Grand Plaza,Magrath Road, Central Bangalore',
 'Shanti Nagar, Central Bangalore',
 'UB City,Vittal Mallya Road, Central Bangalore',
 'UB City,Vittal Mallya Road, Central Bangalore',
 'UB City,Vittal Mallya Road, Central Bangalore',
 'Vittal Mallya Road, Central Bangalore',
 'Indiranagar, East Bangalore',
 'JW Marriott Hotel,Vittal Mallya Road, Central Bangalore',
 'MG Road, Central Bangalore',
 'UB City, Central Bangalore',
 'UB City,Vittal Mallya Road, Central Bangalore',
 'St. Marks Road, Central Bangalore',
 'Indiranagar, East Bangalore',
 'JW Marriott Hotel,Vittal Mallya Road, Central Bangalore',
 'Residency Road, Central Bangalore',
 'UB City,Vittal Mallya Road, Central Bangalore',
 'BTM Layout, South Bangalore']

<h3><font color='green'> NEXT: Step5.</font> Scraping the Rating of the restaurant

In [300]:
def dine0ut_rating(din):
    artle="restnt-rating rating-4"
    
    rate=[]
    
    for star in din.find_all('div',class_=artle):
        rate.append(star.text)        
    return rate

In [534]:
# only 19 restaurants info present so appending '0' to make them into nan values
dineout_rest_rat=dine0ut_rating(din)
dineout_rest_rat

['4.4',
 '4.3',
 '4.4',
 '4.4',
 '3.7',
 '4.3',
 '4.2',
 '4.4',
 '4.3',
 '4.1',
 '4.4',
 '4.3',
 '4.3',
 '4',
 '4.3',
 '4.3',
 '4.4',
 '4.3',
 '4.3']

In [535]:
#appended 0. will convert to 'nan' values while forming of df
dineout_rest_rat.append('0')
dineout_rest_rat.append('0')
dineout_rest_rating=dineout_rest_rat[:21]
dineout_rest_rating

['4.4',
 '4.3',
 '4.4',
 '4.4',
 '3.7',
 '4.3',
 '4.2',
 '4.4',
 '4.3',
 '4.1',
 '4.4',
 '4.3',
 '4.3',
 '4',
 '4.3',
 '4.3',
 '4.4',
 '4.3',
 '4.3',
 '0',
 '0']

<h3><font color='green'> NEXT: Step6.</font> Scraping the URL to the img file of the restaurant, using the img tag

In [536]:
imgs = [div.find('img') for div in din.find_all("div", {"class":"restnt-main-wrap clearfix"}) if div.find('img')]
dinout_rest_pic = [img.get('data-src') for img in imgs][:21]
dinout_rest_pic
#imgs

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/r/y/p48670-15414807385be1212212d20.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/k/n/p60213-162643925660f17e58443c5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/z/p3728-15819343935e4a6739ada8d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/k/q/p50533-15783109835e131d4774e89.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/k/f/p9416-1637666314619cce0a06ca9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/u/u/p48391-15501219495c64fbdd483e4.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/g/h/p860-16107933836002c1a7713ed.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/l/j/p87534-161719349660646a18dc26a.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/b/e/p4471-16353141816178ea05c332c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/i/k/p1168-15992017925f51e2003d1f0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/s/t/p64100-15789184475e1c622faf327.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/z/g/p13437-15370039825b9cd1cec3540.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/g/h/p29533-14807615365842a0c04da29.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/v/x/p106372-165303476162874f0909e7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/y/t/p1258-15517088875c7d32d7331ff.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/k/p71751-15743140755dd6205b7b8fa.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/u/f/p57949-15604908195d033343f04f5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/n/p13467-15646445765d4294e08b5cc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/r/q/p87607-163101820961375ce1110d7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/h/p24670-164386528961fb64c942ac7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/m/v/p50979-15681917225d78b4eade641.jpg?tr=tr:n-medium']

 <h3><font color='green'> FINALLY: Step6.</font>Collaborating all Data to make one DF for Q9</h3><br><h4> Also using np.nan to change 0 to nan values.

In [541]:
import numpy as np
#composing all the lists in  Q9 into a dictionary. 
dineout_page=dict()
dineout_page={'Restaurant':dinout_rest_names,'Location/Area':dineout_rest_loc,'Cuisine':dineout_rest_cuisine ,'Restaurant Rating':dineout_rest_rat,'Restaurant img URL':dinout_rest_pic}
dineout_page

#displaying as Dataframe.
dineout_page_df=pd.DataFrame(dineout_page)
dineout_page_df.index = np.arange(1,len(dineout_page_df)+1)
print("Compilation")
print()
#dineout_page_df
dineout_page_df_nan=dineout_page_df.replace('0',np.nan)
dineout_page_df_nan

Compilation

,Restaurant,Location/Area,Cuisine,Restaurant Rating,Restaurant img URL
1,The Bier Library Brewery & Kitchen,"Koramangala, South Bangalore","Continental, Finger Food, North Indian",4.4,https://im1.dineout.co.in/images/uploads/resta...
2,Uru Brewpark,"JP Nagar, South Bangalore","North Indian, Italian, Continental, Asian",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Hard Rock Cafe,"St. Marks Road, Central Bangalore","Continental, American, Finger Food",4.4,https://im1.dineout.co.in/images/uploads/resta...
4,Biergarten,"Koramangala, South Bangalore","Continental, European",4.4,https://im1.dineout.co.in/images/uploads/resta...
5,No Limmits Lounge and Club,"Allied Grand Plaza,Magrath Road, Central Banga...","North Indian, Continental, Chinese",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Bangalore Cafe,"Shanti Nagar, Central Bangalore","Continental, North Indian, Fast Food",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,Toscano,"UB City,Vittal Mallya Road, Central Bangalore",Italian,4.2,https://im1.dineout.co.in/images/uploads/resta...
8,Badmaash,"UB City,Vittal Mallya Road, Central Bangalore","North Indian, Chettinad, Andhra, Biryani",4.4,https://im1.dineout.co.in/images/uploads/resta...
9,Cafe Noir,"UB City,Vittal Mallya Road, Central Bangalore","Continental, French, European, Health Food, B...",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,The Biere Club,"Vittal Mallya Road, Central Bangalore",Finger Food,4.1,https://im1.dineout.co.in/images/uploads/resta...
11,21st Amendment Gastrobar,"Indiranagar, East Bangalore","North Indian, Continental, Chinese, Fast Food",4.4,https://im1.dineout.co.in/images/uploads/resta...
12,JW Kitchen,"JW Marriott Hotel,Vittal Mallya Road, Central ...","North Indian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Cafe Azzure,"MG Road, Central Bangalore","Continental, Italian, Desserts, Bengali",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Salt - Indian Restaurant Bar & Grill,"UB City, Central Bangalore","North Indian, Mughlai",4,https://im1.dineout.co.in/images/uploads/resta...
15,Sanchez,"UB City,Vittal Mallya Road, Central Bangalore",Mexican,4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Raahi,"St. Marks Road, Central Bangalore",Fusion,4.3,https://im1.dineout.co.in/images/uploads/resta...
17,Daddy,"Indiranagar, East Bangalore","Asian, North Indian, European, Italian",4.4,https://im1.dineout.co.in/images/uploads/resta...
18,Spice Terrace,"JW Marriott Hotel,Vittal Mallya Road, Central ...","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,1522 - The Pub,"Residency Road, Central Bangalore","Continental, North Indian, Italian, Asian",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Farzi Cafe,"UB City,Vittal Mallya Road, Central Bangalore",Modern Indian,NaN,https://im1.dineout.co.in/images/uploads/resta...
21,Stories Brewery and Kitchen,"BTM Layout, South Bangalore","Continental, Italian, Chinese, North Indian",NaN,https://im1.dineout.co.in/images/uploads/resta...

<h2><center><font color='red'>SUCCESS!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2><font color='blue'>10) Write a python program to scrape the details of top publications from Google Scholar from 
<br>https://scholar.google.com/citations?view_op=top_venues&hl=en
<br>i) Rank 
<br>ii) Publication
<br>iii) h5-index
<br>iv) h5-median

<h3><font color='green'> FIRST: Step1.</font>- Request Access for the source Code

In [436]:
import requests
from bs4 import BeautifulSoup
def gulu_gulu_access():

    path15= "https://scholar.google.com/citations?view_op=top_venues&hl=en"
    gulut=requests.get(path15)
    #error handling
    #if response is anything except 200 an exception is made
    if gulut.status_code != 200:
        raise Exception(f'Server Busy, Try again later! {path10}')
    # Parse using BeautifulSoup function
    gulu_gulu = BeautifulSoup(gulut.content, 'html.parser')
    return gulu_gulu

In [437]:
gulu=gulu_gulu_access()

<h3><font color='green'> NEXT: Step2.</font> Scrape the Ranks of the publications

In [438]:
#proceeding to harvest rank from selection

def scholar_rank(gulu):
    
    #marquee the selection
    
    sel_google="gsc_mvt_p"
    selec_ind=gulu.find_all('td',{'class':sel_google})
    
    #Inititalise Empty list to store names
    
    sch_rank=[]
    
  
    
    for books in selec_ind:
        
        sch_rank.append(books.text)
    

        
    return sch_rank

In [514]:
google_scholar_rank=scholar_rank(gulu)
#len(google_scholar_rank)
google_scholar_rank[:5]#--------------------displaying only first five ranks to reduce clutter

['1.', '2.', '3.', '4.', '5.']

<h3><font color='green'> NEXT: Step3.</font> Scraping Publication Names

In [440]:
#proceeding to Publication name from selection

def scholar_pub(gulu):
    
    #marquee the selection
    
    sel_goo="gsc_mvt_t"
    sele_ind=gulu.find_all('td',{'class':sel_goo})
    
    #Inititalise Empty list to store names
    
    sch_pub=[]
    
 
    
    for pages in sele_ind:
        
        sch_pub.append(pages.text)
    
   
        
    return sch_pub

In [515]:
google_scholar_pub=scholar_pub(gulu)
#len(google_scholar_pub)
google_scholar_pub[:5]#--------------------displaying only first five ranks to reduce clutter

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet']

<h3><font color='green'> NEXT: Step4.</font> Scraping H5-Index

In [457]:
#proceeding to harvest h5index from selection

def scholar_h5(gulu):
    
    #marquee the selection
    
    sel_go="gsc_mvt_n"
    selet_ind=gulu.find_all('td',{'class':sel_go})
    
    #Inititalise Empty list to store names
    
    sch_h5=[]
    

    
    for page in selet_ind:
        
        sch_h5.append(page.text)
    
   
        
    return sch_h5

In [459]:
google_scholar_h5=scholar_h5(gulu)[:100]#------splicing list, as list contains both h5 index and median. displaying only index
len(google_scholar_h5)
google_scholar_h5[:5]#--------------------displaying only first five ranks to reduce clutter

['444', '667', '432', '780', '401']

<h3><font color='green'> NEXT: Step6.</font> Scraping H5median from the source code

In [444]:
#proceeding to harvest h5median from selection

def scholar_med(gulu):
    
    #marquee the selection
    
    sel_span="gs_ibl gsc_mp_anchor"
    selet_med=gulu.find_all('span',{'class':sel_span})
    
    #Inititalise Empty list to store names
    
    sch_med=[]
    
    #from marquee harvest movie names using a simple text search in selection
    
    for pa in selet_med:
        
        sch_med.append(pa.text)
    
    #return the Indian movie names
        
    return sch_med

In [461]:
google_scholar_med=scholar_med(gulu)
len(google_scholar_med)
google_scholar_med[:5]#--------------------displaying only first five ranks to reduce clutter

['667', '780', '614', '627', '635']

<h3><font color='green'> NEXT: Step7.</font> Structuring data into a dictionary

In [462]:
#composing all the lists in  Q10 into a dictionary. 
g_Scholar_page=dict()
g_Scholar_page={'Rank':google_scholar_rank,'Publication':google_scholar_pub,'H5-Index':google_scholar_h5,'H5-Median':google_scholar_med}
g_Scholar_page

{'Rank': ['1.',
  '2.',
  '3.',
  '4.',
  '5.',
  '6.',
  '7.',
  '8.',
  '9.',
  '10.',
  '11.',
  '12.',
  '13.',
  '14.',
  '15.',
  '16.',
  '17.',
  '18.',
  '19.',
  '20.',
  '21.',
  '22.',
  '23.',
  '24.',
  '25.',
  '26.',
  '27.',
  '28.',
  '29.',
  '30.',
  '31.',
  '32.',
  '33.',
  '34.',
  '35.',
  '36.',
  '37.',
  '38.',
  '39.',
  '40.',
  '41.',
  '42.',
  '43.',
  '44.',
  '45.',
  '46.',
  '47.',
  '48.',
  '49.',
  '50.',
  '51.',
  '52.',
  '53.',
  '54.',
  '55.',
  '56.',
  '57.',
  '58.',
  '59.',
  '60.',
  '61.',
  '62.',
  '63.',
  '64.',
  '65.',
  '66.',
  '67.',
  '68.',
  '69.',
  '70.',
  '71.',
  '72.',
  '73.',
  '74.',
  '75.',
  '76.',
  '77.',
  '78.',
  '79.',
  '80.',
  '81.',
  '82.',
  '83.',
  '84.',
  '85.',
  '86.',
  '87.',
  '88.',
  '89.',
  '90.',
  '91.',
  '92.',
  '93.',
  '94.',
  '95.',
  '96.',
  '97.',
  '98.',
  '99.',
  '100.'],
 'Publication': ['Nature',
  'The New England Journal of Medicine',
  'Science',
  'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
  'The Lancet',
  'Advanced Materials',
  'Nature Communications',
  'Cell',
  'International Conference on Learning Representations',
  'Neural Information Processing Systems',
  'JAMA',
  'Chemical Reviews',
  'Proceedings of the National Academy of Sciences',
  'Angewandte Chemie',
  'Chemical Society Reviews',
  'Journal of the American Chemical Society',
  'IEEE/CVF International Conference on Computer Vision',
  'Nucleic Acids Research',
  'International Conference on Machine Learning',
  'Nature Medicine',
  'Renewable and Sustainable Energy Reviews',
  'Science of The Total Environment',
  'Advanced Energy Materials',
  'Journal of Clinical Oncology',
  'ACS Nano',
  'Journal of Cleaner Production',
  'Advanced Functional Materials',
  'Physical Review Letters',
  'Scientific Reports',
  'The Lancet Oncology',
  'Energy & Environmental Science',
  'IEEE Access',
  'PLoS ONE',
  'Science Advances',
  'Journal of the American College of Cardiology',
  'Applied Catalysis B: Environmental',
  'Nature Genetics',
  'BMJ',
  'Circulation',
  'European Conference on Computer Vision',
  'International Journal of Molecular Sciences',
  'Nature Materials',
  'Chemical engineering journal',
  'AAAI Conference on Artificial Intelligence',
  'Journal of Materials Chemistry A',
  'ACS Applied Materials & Interfaces',
  'Nature Biotechnology',
  'The Lancet Infectious Diseases',
  'Frontiers in Immunology',
  'Applied Energy',
  'Nano Energy',
  'Nature Energy',
  'Meeting of the Association for Computational Linguistics (ACL)',
  'The Astrophysical Journal',
  'Gastroenterology',
  'Nature Methods',
  'IEEE Transactions on Pattern Analysis and Machine Intelligence',
  'Cochrane Database of Systematic Reviews',
  'Blood',
  'Neuron',
  'Nano Letters',
  'Morbidity and Mortality Weekly Report',
  'European Heart Journal',
  'Nature Nanotechnology',
  'ACS Catalysis',
  'Nature Neuroscience',
  'American Economic Review',
  'Journal of High Energy Physics',
  'IEEE Communications Surveys & Tutorials',
  'Annals of Oncology',
  'Nutrients',
  'Accounts of Chemical Research',
  'Immunity',
  'Environmental Science & Technology',
  'Nature Reviews. Molecular Cell Biology',
  'Gut',
  'Physical Review D',
  'ACS Energy Letters',
  'Monthly Notices of the Royal Astronomical Society',
  'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
  'Clinical Infectious Diseases',
  'Cell Metabolism',
  'Nature Reviews Immunology',
  'Joule',
  'Nature Photonics',
  'International Journal of Environmental Research and Public Health',
  'Environmental Pollution',
  'Computers in Human Behavior',
  'Frontiers in Microbiology',
  'Nature Physics',
  'Small',
  'Cell Reports',
  'Molecular Cell',
  'Clinical Cancer Research',
  'Bioresource Technology',
  'Journal of Business Research',
  'Molecular Cancer',
  'Sensors',
  'Nature Climate Change',
  'IEEE Internet of Things Journal'],
 'H5-Index': ['444',
  '667',
  '432',
  '780',
  '401',
  '614',
  '389',
  '627',
  '354',
  '635',
  '312',
  '418',
  '307',
  '428',
  '300',
  '505',
  '286',
  '533',
  '278',
  '436',
  '267',
  '425',
  '265',
  '444',
  '256',
  '364',
  '245',
  '332',
  '244',
  '386',
  '242',
  '344',
  '239',
  '415',
  '238',
  '550',
  '237',
  '421',
  '235',
  '389',
  '227',
  '324',
  '225',
  '311',
  '220',
  '300',
  '213',
  '315',
  '211',
  '277',
  '211',
  '273',
  '210',
  '280',
  '207',
  '294',
  '206',
  '274',
  '202',
  '329',
  '202',
  '290',
  '200',
  '303',
  '198',
  '278',
  '197',
  '294',
  '195',
  '276',
  '192',
  '246',
  '191',
  '297',
  '190',
  '307',
  '189',
  '301',
  '186',
  '321',
  '183',
  '253',
  '181',
  '265',
  '181',
  '224',
  '180',
  '296',
  '178',
  '220',
  '177',
  '223',
  '175',
  '315',
  '173',
  '296',
  '173',
  '228',
  '173',
  '217'],
 'H5-Median': ['667',
  '780',
  '614',
  '627',
  '635',
  '418',
  '428',
  '505',
  '533',
  '436',
  '425',
  '444',
  '364',
  '332',
  '386',
  '344',
  '415',
  '550',
  '421',
  '389',
  '324',
  '311',
  '300',
  '315',
  '277',
  '273',
  '280',
  '294',
  '274',
  '329',
  '290',
  '303',
  '278',
  '294',
  '276',
  '246',
  '297',
  '307',
  '301',
  '321',
  '253',
  '265',
  '224',
  '296',
  '220',
  '223',
  '315',
  '296',
  '228',
  '217',
  '232',
  '314',
  '304',
  '234',
  '254',
  '296',
  '293',
  '243',
  '229',
  '231',
  '207',
  '302',
  '265',
  '264',
  '220',
  '248',
  '263',
  '220',
  '304',
  '243',
  '214',
  '211',
  '242',
  '214',
  '340',
  '235',
  '217',
  '212',
  '194',
  '249',
  '278',
  '211',
  '292',
  '233',
  '228',
  '225',
  '222',
  '214',
  '225',
  '222',
  '196',
  '205',
  '202',
  '201',
  '190',
  '233',
  '209',
  '201',
  '228',
  '212']}

<h3><font color='green'> FINALLY: Step8.</font> Structuring data as a Dataframe.

In [463]:
#displaying as Dataframe.
g_Scholar_page_df=pd.DataFrame(g_Scholar_page)
g_Scholar_page_df.index = np.arange(1,len(g_Scholar_page_df)+1)
print("Compilation")
print()
g_Scholar_page_df

Compilation

,Rank,Publication,H5-Index,H5-Median
1,1.,Nature,444,667
2,2.,The New England Journal of Medicine,667,780
3,3.,Science,432,614
4,4.,IEEE/CVF Conference on Computer Vision and Pat...,780,627
5,5.,The Lancet,401,635
...,...,...,...,...
96,96.,Journal of Business Research,296,233
97,97.,Molecular Cancer,173,209
98,98.,Sensors,228,201
99,99.,Nature Climate Change,173,228
100,100.,IEEE Internet of Things Journal,217,212

<h2><center><font color ='red'>SUCCESS!!!!!!!!!!

<h2><font color='red'>********************************************************************************************************* </font>

<h2><center><font color ='red'>End of File