# WEB SCRAPIING-Assignment4-GNE-1844 Batch

In [1]:
#importing all required libraries for all the questions.
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, TimeoutException
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import requests
from selenium.webdriver.common.keys import Keys
import time


import warnings
warnings.filterwarnings('ignore')

<h3><font color='darkblue'>
1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
<br>You need to find following details:
<br>A) Rank
<br>B) Name
<br>C) Artist
<br>D) Upload date
<br>E) Views

Solving this using Simple Pandas method. just for variation sake.<br>
The other questions have been solved using selenium and exception handling.

In [185]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
df = pd.read_html(url,match="Video name")

In [209]:
df

[                         No.                                       Video name  \
 0                         1.                            "Baby Shark Dance"[3]
 1                         2.                                   "Despacito"[6]
 2                         3.                       "Johny Johny Yes Papa"[12]
 3                         4.                               "Shape of You"[13]
 4                         5.                              "See You Again"[15]
 5                         6.                                  "Bath Song"[20]
 6                         7.                "Phonics Song with Two Words"[21]
 7                         8.                                "Uptown Funk"[22]
 8                         9.  "Learning Colors – Colorful Eggs on a Farm"[23]
 9                        10.                              "Gangnam Style"[24]
 10                       11.   "Masha and the Bear – Recipe for Disaster"[29]
 11                       12.                          "Wheels on the Bus"[30]
 12                       13.                             "Dame Tu Cosita"[31]
 13                       14.                                      "Sugar"[32]
 14                       15.                                       "Roar"[33]
 15                       16.                             "Counting Stars"[34]
 16                       17.                                      "Sorry"[35]
 17                       18.                                     "Axel F"[36]
 18                       18.                          "Thinking Out Loud"[37]
 19                       20.                        "Baa Baa Black Sheep"[38]
 20                       21.                                 "Dark Horse"[39]
 21                       22.                                      "Faded"[40]
 22                       23.                             "Girls Like You"[41]
 23                       24.                                 "Let Her Go"[42]
 24                       25.                                   "Bailando"[43]
 25                       26.                                    "Lean On"[44]
 26                       27.                                    "Perfect"[45]
 27                       28.           "Waka Waka (This Time for Africa)"[46]
 28                       29.                               "Shake It Off"[47]
 29                       30.          "Humpty the train on a fruits ride"[48]
 30  As of September 29, 2022                         As of September 29, 2022

                                          Uploader          Views (billions)  \
 0     Pinkfong Baby Shark - Kids' Songs & Stories                     11.40
 1                                      Luis Fonsi                      7.98
 2                                     LooLoo Kids                      6.47
 3                                      Ed Sheeran                      5.81
 4                                     Wiz Khalifa                      5.64
 5                      Cocomelon – Nursery Rhymes                      5.63
 6                                       ChuChu TV                      4.90
 7                                     Mark Ronson                      4.70
 8                                     Miroshka TV                      4.65
 9                                             Psy                      4.55
 10                                     Get Movies                      4.51
 11                     Cocomelon – Nursery Rhymes                      4.40
 12                                      El Chombo                      4.07
 13                                       Maroon 5                      3.76
 14                                     Katy Perry                      3.66
 15                                    OneRepublic                      3.65
 16                                  Justin Bieber                      3.59
 17                                     Crazy Frog                      3.52
 18                                     Ed Sheeran                      3.50
 19                     Cocomelon – Nursery Rhymes                      3.38
 20                                     Katy Perry                      3.35
 21                                    Alan Walker                      3.34
 22                                       Maroon 5                      3.33
 23                                      Passenger                      3.30
 24                               Enrique Iglesias                      3.27
 25                                    Major Lazer                      3.26
 26                                     Ed Sheeran                      3.26
 27                                        Shakira                      3.25
 28                                   Taylor Swift                      3.21
 29  Kiddiestv Hindi – Nursery Rhymes & Kids Songs                      3.17
 30                       As of September 29, 2022  As of September 29, 2022

             Publication date                      Note  \
 0              June 17, 2016                       [A]
 1           January 12, 2017                       [B]
 2            October 8, 2016                       [C]
 3           January 30, 2017                       [D]
 4              April 6, 2015                       [E]
 5                May 2, 2018                       [F]
 6              March 6, 2014                       [G]
 7          November 19, 2014                       [H]
 8          February 27, 2018                       [I]
 9              July 15, 2012                       [J]
 10          January 31, 2012                       [K]
 11              May 24, 2018                       NaN
 12             April 5, 2018                       NaN
 13          January 14, 2015                       NaN
 14         September 5, 2013                       NaN
 15              May 31, 2013                       NaN
 16          October 22, 2015                       NaN
 17             June 16, 2009                       NaN
 18           October 7, 2014                       NaN
 19             June 25, 2018                       NaN
 20         February 20, 2014                       NaN
 21          December 3, 2015                       NaN
 22              May 31, 2018                       NaN
 23             July 25, 2012                       NaN
 24            April 11, 2014                       NaN
 25            March 22, 2015                       NaN
 26          November 9, 2017                       NaN
 27              June 4, 2010                       NaN
 28           August 18, 2014                       NaN
 29          January 26, 2018                       NaN
 30  As of September 29, 2022  As of September 29, 2022

                   Unnamed: 6
 0                        NaN
 1                        NaN
 2                        NaN
 3                        NaN
 4                        NaN
 5                        NaN
 6                        NaN
 7                        NaN
 8                        NaN
 9                        NaN
 10                       NaN
 11                       NaN
 12                       NaN
 13                       NaN
 14                       NaN
 15                       NaN
 16                       NaN
 17                       NaN
 18                       NaN
 19                       NaN
 20                       NaN
 21                       NaN
 22                       NaN
 23                       NaN
 24                       NaN
 25                       NaN
 26                       NaN
 27                       NaN
 28                       NaN
 29                       NaN
 30  As of September 29, 2022  ,
                            Video name  \
 0               "Baby Shark Dance"[3]
 1                      "Despacito"[6]
 2                 "See You Again"[15]
 3                "Gangnam Style"⁂[24]
 4                         "Baby"*[61]
 5                   "Bad Romance"[65]
 6        "Charlie Bit My Finger"‡[69]
 7            "Evolution of Dance"[72]
 8               "Girlfriend"‡[74][75]
 9            "Evolution of Dance"[72]
 10     "Music Is My Hot Hot Sex"‡[79]
 11          "Evolution of Dance"*[72]
 12   "Pokemon Theme Music Video"‡[85]
 13     "Myspace – The Movie"‡[90][91]
 14           "Phony Photo Booth"‡[94]
 15   "The Chronic of Narnia Rap"‡[96]
 16  "Ronaldinho: Touch of Gold"‡*[98]
 17                 "I/O Brush"‡*[101]
 18               "Me at the zoo"[103]
 19           As of September 29, 2022

                                        Uploader      Views atachievement*  \
 0   Pinkfong Baby Shark - Kids' Songs & Stories                7046700000
 1                                    Luis Fonsi                3002800000
 2                                   Wiz Khalifa                2894000000
 3                                           Psy                 803700000
 4                                 Justin Bieber                 245400000
 5                                     Lady Gaga                 178400000
 6                                         HDCYT                 128900000
 7                                Judson Laipply                 118900000
 8                                   RCA Records                  92600000
 9                                Judson Laipply                  78400000
 10                               CLARUSBARTEL72                  76600000
 11                               Judson Laipply                  10600000
 12                                        Smosh                   4300000
 13                                       eggtea                   2700000
 14                                    mugenized                   3400000
 15                                  youtubedude                   2300000
 16                                   Nikesoccer                    255000
 17                                       larfus                    247000
 18                                        jawed                         1
 19                     As of September 29, 2022  As of September 29, 2022

             Publication date             Date achieved  \
 0              June 17, 2016          November 2, 2020
 1           January 12, 2017            August 4, 2017
 2              April 6, 2015             July 10, 2017
 3              July 15, 2012         November 24, 2012
 4          February 19, 2010             July 16, 2010
 5          November 24, 2009            April 14, 2010
 6               May 22, 2007          October 25, 2009
 7              April 6, 2006               May 2, 2009
 8          February 27, 2007             July 17, 2008
 9              April 6, 2006            March 15, 2008
 10             April 9, 2007             March 1, 2008
 11             April 6, 2006              May 19, 2006
 12         November 28, 2005            March 12, 2006
 13          January 31, 2006         February 18, 2006
 14          December 1, 2005          January 21, 2006
 15         December 18, 2005           January 9, 2006
 16          October 21, 2005          October 31, 2005
 17           October 5, 2005          October 29, 2005
 18            April 23, 2005            April 23, 2005
 19  As of September 29, 2022  As of September 29, 2022

             Days afterupload                  Daysheld  \
 0                       1600                       696
 1                        206                      1186
 2                        826                        25
 3                        134                      1689
 4                        149                       862
 5                        143                        93
 6                        887                       171
 7                       1062                       176
 8                        508                       289
 9                        651                       124
 10                       327                        14
 11                        16                       652
 12                       105                        68
 13                        18                        22
 14                        50                        28
 15                        22                        12
 16                        10                        70
 17                        24                         2
 18                         0                       189
 19  As of September 29, 2022  As of September 29, 2022

                 Takedowndate                       Ref  \
 0                        NaN                       NaN
 1                        NaN                      [60]
 2                        NaN                      [16]
 3                        NaN                      [25]
 4                        NaN                      [62]
 5                        NaN                      [66]
 6         late July 2021[70]                      [71]
 7                        NaN                      [73]
 8                    no data                      [76]
 9                        NaN                      [78]
 10              mid-2008[80]                      [81]
 11                       NaN                      [84]
 12             June 2007[86]                      [87]
 13              mid-2006[92]                      [93]
 14                   no data                      [95]
 15                   no data                      [97]
 16                   no data                      [99]
 17                   no data                     [102]
 18                       NaN                     [104]
 19  As of September 29, 2022  As of September 29, 2022

                        Notes
 0                        NaN
 1                        [B]
 2                        NaN
 3                        [J]
 4                        [L]
 5                        [M]
 6                        NaN
 7                        NaN
 8                        [N]
 9                        NaN
 10                       [O]
 11                       [P]
 12                       [Q]
 13                       NaN
 14                       [R]
 15                       NaN
 16                       [S]
 17                       NaN
 18                       NaN
 19  As of September 29, 2022  ]

In [203]:
df2 = df[0][:-1]

In [207]:
df2.drop(['Note','Unnamed: 6'],axis=1,inplace=True)

In [208]:
df2

,No.,Video name,Uploader,Views (billions),Publication date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.40,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.98,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.47,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.81,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.64,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.63,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.90,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.70,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.65,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.55,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.40,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.07,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.76,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.66,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.65,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.59,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.52,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.50,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.38,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.35,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.30,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.27,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.26,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.25,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.21,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.17,"January 26, 2018"

<h3><font color='darkblue'>
2. Scrape the details team India’s international fixtures from bcci.tv.
<br>Url = https://www.bcci.tv/.
<br>You need to find following details:
<br>A) Match title (I.e. 1st ODI)
<br>B) Series
<br>C) Place
<br>D) Date
<br>E) Time
<br>Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [214]:
bcc=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
bcc.maximize_window()
bcc.get("https://www.bcci.tv/")

In [262]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
Team1=[]
Team2=[]
match_title='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div//h5//span'
series='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[4]//div//p//span[1]'
place='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[4]//div//p//span[2]'
date='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[2]//div//h5'
time='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[2]//div[2]//h5'
team1='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[3]//div//h5'
team2='//div[@class="match-sec-inner"]//div//div[2]//div//div//div//div//div//div//a//div//div[3]//div[3]//h5'

try:
    mt=bcc.find_elements(By.XPATH, match_title)
    for m in mt[:8]:
        Match_title.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Match_title.append("-")
        print('1 missing row in Match Title, Appended with - ')
    
try:
    dat=bcc.find_elements(By.XPATH, date)
    for m in dat[:8]:
        Date.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Date.append("-")
        print('1 missing row in Date, Appended with - ')

try:
    tim=bcc.find_elements(By.XPATH, time)
    for m in tim[:8]:
        Time.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Time.append("-")
        print('1 missing row in Time, Appended with - ')

try:
    ser=bcc.find_elements(By.XPATH, series)
    for m in ser[:8]:
        Series.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Series.append("-")
        print('1 missing row in Series, Appended with - ')
        
try:        
    pla=bcc.find_elements(By.XPATH, place)
    for m in pla[:8]:
        Place.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Place.append("-")
        print('1 missing row in Place, Appended with - ')
    
try:
    t1=bcc.find_elements(By.XPATH,team1)
    for m in t1[:8]:
        Team1.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Team1.append("-")
        print('1 missing row in Team1, Appended with - ')

try:        
    t2=bcc.find_elements(By.XPATH, team2)
    for m in t2[:8]:
        Team2.append(m.get_attribute('innerText'))
except NoSuchElementException:
        Team2.append("-")
        print('1 missing row in Team2, Appended with - ')

In [273]:
Cricket_fixtures=pd.DataFrame({'Match Title': Series,'Series':Match_title,'Team1':Team1,'Team2':Team2,'Date':Date,'Time':Time})
Cricket_fixtures

,Match Title,Series,Team1,Team2,Date,Time
0,3rd T20I -,ASIA CUP WOMENS 2022,India Women,United Arab Emirates Women,4 OCT 2022,1:00 PM IST
1,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,United Arab Emirates Women,South Africa,1:00 PM IST,7:00 PM IST
2,1st ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India,South Africa,4 OCT 2022,1:30 PM IST
3,4th T20I -,ASIA CUP WOMENS 2022,South Africa,Pakistan Women,7:00 PM IST,1:00 PM IST
4,5th T20I -,ASIA CUP WOMENS 2022,India,Bangladesh Women,6 OCT 2022,1:00 PM IST
5,2nd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,South Africa,South Africa,1:30 PM IST,1:30 PM IST
6,6th T20I -,ASIA CUP WOMENS 2022,India Women,Thailand Women,7 OCT 2022,1:00 PM IST
7,3rd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Pakistan Women,South Africa,1:00 PM IST,1:30 PM IST

<h3><font color='darkblue'>
3. Scrape the details of selenium exception from guru99.com.
<br>Url = https://www.guru99.com/
<br>You need to find following details:
<br>A) Name
<br>B) Description
<br>Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [291]:
guru=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
guru.maximize_window()
guru.get("https://www.guru99.com/")

guru.find_element(By.XPATH,'//a[@href="/python-tutorials.html"]').click()
guru.find_element(By.XPATH,'//a[@href="https://www.guru99.com/selenium-tutorial.html"]').click()
guru.find_element(By.XPATH,'//a[@href="/exception-handling-selenium.html"]').click()

In [309]:
Name=[]
Description=[]
strong='//div[@class="entry-content single-content"]//p'
name=guru.find_elements(By.XPATH, strong)
for m in name[2:43]:
    Name.append(m.get_attribute('innerText').split(':').pop(0))
    Description.append(m.get_attribute('innerText').split(":").pop(1))

In [310]:
Exceptions=pd.DataFrame({'Name':Name,'Description':Description})
Exceptions

                                       Name                                        Description
0             1. ElementNotVisibleException   This type of Selenium exception occurs when a...
1          2. ElementNotSelectableException   This Selenium exception occurs when an elemen...
2                 3. NoSuchElementException   This Exception occurs if an element could not...
3                   4. NoSuchFrameException   This Exception occurs if the frame target to ...
4                5. NoAlertPresentException   This Exception occurs when you switch to no p...
5                  6. NoSuchWindowException   This Exception occurs if the window target to...
6         7. StaleElementReferenceException   This Selenium exception occurs happens when t...
7               8. SessionNotFoundException   The WebDriver is acting after you quit the br...
8                       9. TimeoutException   Thrown when there is not enough time for a co...
9                    10. WebDriverException   This Exception takes place when the WebDriver...
10            11. ConnectionClosedException   This type of Exception takes place when there...
11     12. ElementClickInterceptedException   The command may not be completed as the eleme...
12      13. ElementNotInteractableException   This Selenium exception is thrown when any el...
13             14. ErrorInResponseException   This happens while interacting with the Firef...
14  15. ErrorHandler.UnknownServerException   Exception is used as a placeholder in case if...
15         16. ImeActivationFailedException   This expectation will occur when IME engine a...
16             17. ImeNotAvailableException    It takes place when IME support is unavailable.
17         18. InsecureCertificateException   Navigation made the user agent to hit a certi...
18             19. InvalidArgumentException   It occurs when an argument does not belong to...
19         20. InvalidCookieDomainException   This happens when you try to add a cookie und...
20          21. InvalidCoordinatesException   This type of Exception matches an interacting...
21         22. InvalidElementStateException   It occurs when command can’t be finished when...
22            23. InvalidSessionIdException   This Exception took place when the given sess...
23       24. InvalidSwitchToTargetException   This occurs when the frame or window target t...
24                  25. JavascriptException   This issue occurs while executing JavaScript ...
25                        26. JsonException   It occurs when you afford to get the session ...
26             27. NoSuchAttributeException   This kind of Exception occurs when the attrib...
27       28. MoveTargetOutOfBoundsException   It takes place if the target provided to the ...
28               29. NoSuchContextException           ContextAware does mobile device testing.
29                30. NoSuchCookieException   This Exception occurs when no cookie matching...
30                    31. NotFoundException   This Exception is a subclass of WebDriverExce...
31          32. RemoteDriverServerException   This Selenium exception is thrown when the se...
32                  33. ScreenshotException            It is not possible to capture a screen.
33           34. SessionNotCreatedException   It happens when a new session could not be su...
34           35. UnableToSetCookieException   This occurs if a driver is unable to set a co...
35           36. UnexpectedTagNameException   Happens if a support class did not get a web ...
36              37. UnhandledAlertException   This expectation occurs when there is an aler...
37      38. UnexpectedAlertPresentException   It occurs when there is the appearance of an ...
38               39. UnknownMethodException   This Exception happens when the requested com...
39          40. UnreachableBrowserException   This Exception occurs only when the browser i...
40          41. UnsupportedCommandException   This occurs when remote WebDriver doesn’t sen...

<h3><font color='darkblue'>
4. Scrape the details of State-wise GDP of India from statisticstime.com.
<br>Url = http://statisticstimes.com/
<br>You have to find following details:
<br>A) Rank
<br>B) State
<br>C) GSDP(18-19)
<br>D) GSDP(17-18)
<br>E) Share(2017)
<br>F) GDP($ billion)
<br>Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
gdp=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
gdp.maximize_window()
gdp.get("http://statisticstimes.com/")

gdp.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
gdp.find_element(By.XPATH,'//a[@href="economy/india-statistics.php"]').click()
gdp.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [39]:
Rank=[]
State=[]
GSDP19_20=[]
GSDP18_19=[]
Share18_19=[]
GDP=[]



rnk='//td[@class="data1"]'
stat='//td[@class="name"]'
g19_20='//tr//td[3][@class="data"]'
g18_19='//tr//td[4][@class="data"]'
sh18_19='//tr//td[5][@class="data"]'
gd='//tr//td[6][@class="data"]'

rank=gdp.find_elements(By.XPATH,rnk)
for m in rank[1:34]:
    Rank.append(m.get_attribute('innerText'))

state=gdp.find_elements(By.XPATH,stat)
for m in state[:33]:
    State.append(m.get_attribute('innerText'))
    
gsdp1=gdp.find_elements(By.XPATH,g19_20)
for m in gsdp1[:33]:
    GSDP19_20.append(m.get_attribute('innerText'))
    
gsdp2=gdp.find_elements(By.XPATH,g18_19)
for m in gsdp2[:33]:
    GSDP18_19.append(m.get_attribute('innerText'))
    
share=gdp.find_elements(By.XPATH,sh18_19)
for m in share[:33]:
    Share18_19.append(m.get_attribute('innerText'))
    
gpd=gdp.find_elements(By.XPATH,gd)
for m in gpd[:33]:
    GDP.append(m.get_attribute('innerText'))

In [47]:
State_wise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GSDP (19-20)':GSDP19_20,'GSDP (18-19)':GSDP18_19,'Share(18-19)':Share18_19,'GDP':GDP})
State_wise_GDP

,Rank,State,GSDP (19-20),GSDP (18-19),Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

<h3><font color='darkblue'>
5.Scrape the details of trending repositories on Github.com.
<br>Url = https://github.com/
<br>You have to find the following details:
<br>A) Repository title
<br>B) Repository description
<br>C) Contributors count
<br>D) Language used
<br>Note: - From the home page you have to click on the trending option from Explore menu through code.

In [58]:
git=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
git.maximize_window()
git.get("https://github.com/")


git.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
git.find_element(By.XPATH,'//a[@href="/trending"]').click()

In [61]:
Hrefs=[]

hr=git.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for m in hr:
    Hrefs.append(m.get_attribute('href'))

In [119]:
Title=[]
Description=[]
Cont_count=[]
Languages=[]

for url in Hrefs:
    git.get(url)
    time.sleep(2)
    
    try:
        name = git.find_elements(By.XPATH,'//strong//a[1][@data-pjax="#repo-content-pjax-container"]')
        for br in name:
            Title.append(br.get_attribute('innerText'))
    except NoSuchElementException:
        Title.append("-")
        
    try:
        desc = git.find_elements(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        for br in desc:
            Description.append(br.get_attribute('innerText'))
    except NoSuchElementException:
        Description.append("-")
    
    
    try:
        count = git.find_elements(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[3]/div/h2/a/span')
        for br in count:
                Cont_count.append(br.get_attribute('innerText'))
    except Exception:
        Cont_count.append("-")
    
    try:
        lingo = git.find_elements(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[4]/div/ul')
        for br in lingo:
            Languages.append(br.get_attribute('innerText'))
    except Exception:
        Title.append("-")

In [127]:
Github_rep=pd.DataFrame({'Repository Title':Title,'Description':Description,'Contributer Count':Cont_count,'Languages':Languages})
Github_rep.head(10)

,Repository Title,Description,Contributer Count,Languages
0,stablediffusion-infinity,Outpainting with Stable Diffusion on an infini...,0,lkwq007 Lnyan\ntpsjr7 Ted Sanders\nLEBMD MD
1,C-Plus-Plus,Collection of various algorithms in mathematic...,175,
2,iced,"A cross-platform GUI library for Rust, inspire...",3,Python\n99.2%\n \nDockerfile\n0.8%
3,sherlock,🔎 Hunt down social media accounts by username ...,7,
4,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"1,461",JavaScript\n73.4%\n \nTypeScript\n24.1%\n \nOt...
5,novu,⭐ A fully functional real-time notification ce...,0,
6,docs,The open-source repo for docs.github.com,0,JavaScript\n53.2%\n \nAstro\n15.9%\n \nTypeScr...
7,stable-diffusion-webui,Stable Diffusion web UI,89,
8,first-contributions,🚀✨ Help beginners to contribute to open source...,0,@mumoshu\n/ helmfile-operator\n@yoanyombapro12...
9,password-generator,Best password generator agnostic to framework,3,TypeScript\n90.6%\n \nJavaScript\n9.4%

<h3><font color='darkblue'>
6. Scrape the details of top 100 songs on billiboard.com.
<br>Url = https:/www.billboard.com/
<br>You have to find the following details:
<br>A) Song name
<br>B) Artist name
<br>C) Last week rank
<br>D) Peak rank
<br>E) Weeks on board
<br>Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [129]:
bil=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
bil.maximize_window()
bil.get("https:/www.billboard.com/")
bil.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a').click()

In [156]:
Song=[]
Artist=[]
Last_Week=[]
Peak_pos=[]
woc=[]
try:
    song = bil.find_elements(By.XPATH,'//li//ul//li//h3[@id="title-of-a-story"]')
    for br in song:
        Song.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Song.append("-")
try:
    artist = bil.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]//span')
    for br in artist[::7]:
        Artist.append(br.get_attribute('innerText'))
    for br in artist[1::7]:
        Last_Week.append(br.get_attribute('innerText'))
    for br in artist[2::7]:
        Peak_pos.append(br.get_attribute('innerText'))
    for br in artist[3::7]:
        woc.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Artist.append("-")
    Last_Week.append('-')
    Peak_pos.append('-')
    woc.append('-')

In [157]:
BillBoard_chart=pd.DataFrame({'Track':Song,'Artist':Artist,'Last Weeks Rank':Last_Week,'Peak Position':Peak_pos,'Weeks on Chart':woc})
BillBoard_chart

,Track,Artist,Last Weeks Rank,Peak Position,Weeks on Chart
0,As It Was,Harry Styles,1,1,25
1,Bad Habit,Steve Lacy,2,2,12
2,I Like You (A Happier Song),Post Malone Featuring Doja Cat,5,3,16
3,Sunroof,Nicky Youre & dazy,4,4,17
4,Super Freaky Girl,Nicki Minaj,3,1,6
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,98,12,20
96,Where It Ends,Bailey Zimmerman,93,32,5
97,Backstage Passes,EST Gee Featuring Jack Harlow,-,98,1
98,Snap,Rosa Linn,97,93,4
99,Beat The Odds,Lil Tjay,91,36,4

<h3><font color='darkblue'>
7. Scrape the details of Data science recruiters from naukri.com.
<br>Url = https://www.naukri.com/
<br>You have to find the following details:
<br>A) Name
<br>B) Designation
<br>C) Company
<br>D) Skills they hire for
<br>E) Location
<br>Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [163]:
job=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
job.maximize_window()
job.get("https://www.naukri.com/")
search=job.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
search.send_keys('Data science')
job.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()

In [182]:
Name=[]
Designation=[]
Company=[]
Company2=[]
Skills=[]
Location=[]
name='//a[@class="title fw500 ellipsis"]'
Design='//a[@class="title fw500 ellipsis"]'
company='//div[@class="mt-7 companyInfo subheading lh16"]//a'
JD='//div[@class="job-description fs12 grey-text"]'
location='//li[@class="fleft grey-text br2 placeHolderLi location"]//span'


try:
    nem = job.find_elements(By.XPATH,name)
    for br in nem:
        Name.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Name.append("-")
    
try:
    design = job.find_elements(By.XPATH,Design)
    for br in design:
        Designation.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Designation.append("-")
    
try:
    comp = job.find_elements(By.XPATH,company)
    for br in comp:
        Company.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Company.append("-")

try:
    skill = job.find_elements(By.XPATH,JD)
    for br in skill:
        Skills.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Skills.append("-")
    
try:
    loc = job.find_elements(By.XPATH,location)
    for br in loc:
        Location.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Location.append("-")

In [184]:
substring='Reviews'
for item in Company:
    if substring in item:
        Company.remove(item)

In [191]:
Naukri=pd.DataFrame({'Name':Name,'Designition':Designation,'Company Name':Company,'Skills':Skills,'Location':Location})
Naukri

,Name,Designition,Company Name,Skills,Location
0,Data Analyst - Data Science,Data Analyst - Data Science,Altigreen,Bachelors in STEM Must have 5+ years experienc...,Bangalore/Bengaluru
1,Data Storytelling / Visualization Role - Data ...,Data Storytelling / Visualization Role - Data ...,Indiainfoline,"4+ years of relevant industry experience, or a...",Bangalore/Bengaluru
2,Senior Investment Risk Specialist - Data Science,Senior Investment Risk Specialist - Data Science,Wells Fargo,"Develop, execute, and maintain lending valuati...",Bangalore/Bengaluru
3,Senior Director & Head-Data Science & Analytics,Senior Director & Head-Data Science & Analytics,Vertex Corporate Services,Requirements: - Bachelor s/ Masters degree in ...,"Pune, Chennai, Bangalore/Bengaluru"
4,Data Science Lead - Forecasting,Data Science Lead - Forecasting,Cargill,"Own and design statistical model, evaluate dif...",Bangalore/Bengaluru
5,Senior Analyst-Data Science,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Python Programm...,Mumbai
6,AI & Data Science Senior Engineer,AI & Data Science Senior Engineer,Wasoko,You should be self-driven and motivated with t...,Bangalore/Bengaluru
7,Principal Data Science Engineer,Principal Data Science Engineer,Sabre,"Experience developing customer choice models, ...",Bangalore/Bengaluru
8,Data Science Analyst,Data Science Analyst,Search Advisers Services ( GUJ ) Pvt. Ltd.,Roles and Responsibilities As a HR Decision Sc...,Bangalore/Bengaluru
9,Data Science Analyst,Data Science Analyst,Search Advisers Services ( GUJ ) Pvt. Ltd.,Roles and Responsibilities As a HR Decision Sc...,Bangalore/Bengaluru
10,Senior Director & Head-Data Science & Analytic...,Senior Director & Head-Data Science & Analytic...,Vertex Corporate Services,Requirements: - Bachelor s/ Masters degree in ...,"Pune, Chennai, Bangalore/Bengaluru"
11,Senior Manager - Data Science,Senior Manager - Data Science,Tredence,Solve some of the most impactful business prob...,"Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru"
12,Python Programming Language Data Science Pract...,Python Programming Language Data Science Pract...,Accenture,Technical Experience : Experience in DevOps pr...,Bangalore/Bengaluru
13,Team Lead/Consultant-Data Science,Team Lead/Consultant-Data Science,Accenture,You are required to understand the strategic d...,Bangalore/Bengaluru
14,Hiring For Data Science role (NLP) - Max 30 Da...,Hiring For Data Science role (NLP) - Max 30 Da...,Genpact,Predictive Analytics Well versed with AI and M...,Gurgaon/Gurugram
15,Hiring |Data Science and Business Analytics | ...,Hiring |Data Science and Business Analytics | ...,Citicorp Finance,Please find below JD and company details TECHN...,"Pune, Bangalore/Bengaluru"
16,Data Science Analyst (From FMCG Ind.)and Sales...,Data Science Analyst (From FMCG Ind.)and Sales...,H K Jewels,Roles and Responsibilities Urgently Required S...,Mumbai
17,Principal Engineer - Data Science,Principal Engineer - Data Science,Superior Group,"Data Science, ML/ ML algorithms Deep learning/...",Bangalore/Bengaluru
18,Senior Data Science Manager,Senior Data Science Manager,Inspire Analytics,Work from home flexible but individuals must b...,Chennai

<h3><font color='darkblue'>
8. Scrape the details of Highest selling novels.
<br>Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
<br>You have to find the following details:
<br>A) Book name
<br>B) Author name
<br>C) Volumes sold
<br>D) Publisher
<br>E) Genre

In [203]:
driver=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

Title=[]
Author=[]
Volume_sold=[]
Publisher=[]
Genre=[]

table = driver.find_elements(By.XPATH,'//tbody//tr//td')
try:
    for br in table[1::6]:
        Title.append(br.get_attribute('innerText'))
except Exception:
    Title.append('-')
try:
    for br in table[2::6]:
        Author.append(br.get_attribute('innerText'))
except Exception:
    Author.append('-')
try:
    for br in table[3::6]:
        Volume_sold.append(br.get_attribute('innerText'))
except Exception:
    Volume_sold.append('-')
try:
    for br in table[4::6]:
        Publisher.append(br.get_attribute('innerText'))
except Exception:
    Publisher.append('-')
try:
    for br in table[5::6]:
        Genre.append(br.get_attribute('innerText'))
except Exception:
    Genre.append('-')

In [205]:
Guardian=pd.DataFrame({'Book Name':Title,'Author':Author,'Volume Sold':Volume_sold,'Publisher':Publisher,'Genre':Genre})
Guardian

,Book Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

<h3><font color='darkblue'>
9. Scrape the details most watched tv series of all time from imdb.com.
<br>Url = https://www.imdb.com/list/ls095964455/
<br>You have to find the following details:
<br>A) Name
<br>B) Year span
<br>C) Genre
<br>D) Run time
<br>E) Ratings
<br>F) Votes

In [227]:
mov=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
mov.maximize_window()
mov.get("https://www.imdb.com/list/ls095964455/")

Title=[]
Year_span=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

try:
    title = mov.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
    for br in title:
        Title.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Title.append("-")
    
try:
    span = mov.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for br in span:
        Year_span.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Year_span.append("-")
    
try:
    genre = mov.find_elements(By.XPATH,'//span[@class="genre"]')
    for br in genre:
        Genre.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Genre.append("-")
    
try:
    run = mov.find_elements(By.XPATH,'//span[@class="runtime"]')
    for br in run:
        Runtime.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Runtime.append("-")
    
try:
    ratings= mov.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]')
    for br in ratings:
        Ratings.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Ratings.append("-")
    
try:
    votes = mov.find_elements(By.XPATH,'//span[@name="nv"]')
    for br in votes:
        Votes.append(br.get_attribute('innerText'))
except NoSuchElementException:
    Votes.append("-")

In [229]:
IMDB=pd.DataFrame({'Title':Title,'Year Span': Year_span,'Genre':Genre,'Runtime':Runtime,'Rating':Ratings,'Votes':Votes})
IMDB

,Title,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,060,957"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,154,611"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,152"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,859"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,296"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,685"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,737"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,485"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,146"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,072"

<h3><font color='darkblue'>
10. Details of Datasets from UCI machine learning repositories.
<br>Url = https://archive.ics.uci.edu/
<br>You have to find the following details:
<br>A) Dataset name
<br>B) Data type
<br>C) Task
<br>D) Attribute type
<br>E) No of instances
<br>F) No of attribute
<br>G) Year
<br>Note: - from the home page you have to go to the ShowAllDataset page through code

In [236]:
uci=webdriver.Chrome(r"C:\Users\Glenn\Downloads\chromedriver_win32\chromedriver.exe")
uci.maximize_window()
uci.get("https://archive.ics.uci.edu/")
uci.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [238]:
DS_name=[]
D_type=[]
Task=[]
Attribute_Type=[]
No_instances=[]
No_attributes=[]
Year=[]

name=uci.find_elements(By.XPATH,'//td//table[1]//tbody//tr//td//p[@class="normal"]')
for m in name:
    DS_name.append(m.get_attribute('innerText'))

In [250]:
DS_name=[]
D_type=[]
Task=[]
Attribute_Type=[]
No_instances=[]
No_attributes=[]
Year=[]

table=uci.find_elements(By.XPATH,'//tr//td[2]//p[@class="normal"]')
try:
    for m in table[1:3733:7]:
        DS_name.append(m.get_attribute('innerText'))
except Exceptions:
    DS_name.append('-')

try:
    for m in table[2:3733:7]:
        D_type.append(m.get_attribute('innerText'))
except Exceptions:
    D_type.append('-')
    
try:
    for m in table[3:3733:7]:
        Task.append(m.get_attribute('innerText'))
except Exceptions:
    Task.append('-')
    
try:
    for m in table[4:3733:7]:
        Attribute_Type.append(m.get_attribute('innerText'))
except Exceptions:
    Attribute_Type.append('-')
    
try:
    for m in table[5:3733:7]:
        No_instances.append(m.get_attribute('innerText'))
except Exceptions:
    No_instances.append('-')
    
try:
    for m in table[6:3733:7]:
        No_attributes.append(m.get_attribute('innerText'))
except Exceptions:
    No_attributes.append('-')
    
try:
    for m in table[7:3733:7]:
        Year.append(m.get_attribute('innerText'))
except Exceptions:
    Year.append('-')

In [267]:
UCI=pd.DataFrame({'DataSet Name':DS_name[:533],'DataSet Type':D_type,'Task':Task,'Attribute Type':Attribute_Type,'Number of Instances':No_instances,'Year':Year})
UCI.sample(50)

,DataSet Name,DataSet Type,Task,Attribute Type,Number of Instances,Year
208,Amazon Access Samples,"Time-Series, Domain-Theory","Regression, Clustering, Causal-Discovery",,30000,2011
18,Car Evaluation,Multivariate,Classification,Categorical,1728,1997
498,Speaker Accent Recognition,Multivariate,Classification,Real,329,2020
404,Autistic Spectrum Disorder Screening Data for ...,Multivariate,Classification,Integer,104,2017
212,KEGG Metabolic Relation Network (Directed),"Multivariate, Univariate, Text","Classification, Regression, Clustering","Integer, Real",53414,2011
103,Water Treatment Plant,Multivariate,Clustering,"Integer, Real",527,1993
465,Behavior of the urban traffic of the city of S...,"Multivariate, Time-Series","Classification, Regression","Integer, Real",135,2018
511,Stock keeping units,Multivariate,Clustering,"Integer, Real",2279,2019
183,URL Reputation,"Multivariate, Time-Series",Classification,"Integer, Real",2396130,2009
298,Sentence Classification,Text,Classification,Integer,,2014
290,Perfume Data,"Univariate, Domain-Theory","Classification, Clustering",Integer,560,2014
235,Fertility,Multivariate,"Classification, Regression",Real,100,2013
87,Soybean (Large),Multivariate,Classification,Categorical,307,1988
363,Website Phishing,Multivariate,Classification,Integer,1353,2016
40,Function Finding,,Function-Learning,Real,352,1990
132,Pioneer-1 Mobile Robot Data,"Multivariate, Time-Series",,"Categorical, Real",,1999
214,Bank Marketing,Multivariate,Classification,Real,45211,2012
371,Air quality,"Multivariate, Time-Series",Regression,Real,9358,2016
402,DeliciousMIL: A Data Set for Multi-Label Multi...,Text,Classification,Integer,12234,2016
524,Estimation of obesity levels based on eating h...,Multivariate,"Classification, Regression, Clustering",Integer,2111,2019
172,Character Trajectories,Time-Series,"Classification, Clustering",Real,2858,2008
494,Bias correction of numerical prediction model ...,Multivariate,Regression,Real,7750,2020
160,Reuters Transcribed Subset,Text,Classification,,200,2008
42,Haberman's Survival,Multivariate,Classification,Integer,306,1999
293,Newspaper and magazine images segmentation dat...,,Classification,,101,2014
499,Heart failure clinical records,Multivariate,"Classification, Regression, Clustering","Integer, Real",299,2020
164,Arcene,Multivariate,Classification,Real,900,2008
72,Musk (Version 1),Multivariate,Classification,Integer,476,1994
98,Tic-Tac-Toe Endgame,Multivariate,Classification,Categorical,958,1991
225,CNAE-9,"Multivariate, Text",Classification,Integer,1080,2012
126,KDD Cup 1998 Data,Multivariate,Regression,"Categorical, Integer",191779,1998
367,Cervical cancer (Risk Factors),Multivariate,Classification,"Integer, Real",858,2017
137,Syskill and Webert Web Page Ratings,"Multivariate, Text",Classification,Categorical,332,1998
292,REALDISP Activity Recognition Dataset,"Multivariate, Time-Series",Classification,Real,1419,2014
216,Gas Sensor Array Drift Dataset,Multivariate,Classification,Real,13910,2012
310,microblogPCU,"Multivariate, Univariate, Sequential, Text","Classification, Causal-Discovery","Integer, Real",221579,2015
375,MoCap Hand Postures,Multivariate,"Classification, Clustering","Integer, Real",78095,2016
283,Urban Land Cover,Multivariate,Classification,,168,2014
232,One-hundred plant species leaves data set,,Classification,Real,1600,2012
259,Gas Sensor Array Drift Dataset at Different Co...,"Multivariate, Time-Series","Classification, Regression, Clustering, Causa",Real,13910,2013
145,Statlog (Shuttle),Multivariate,Classification,Integer,58000,
362,DrivFace,Multivariate,"Classification, Regression, Clustering",Real,606,2016
80,Primary Tumor,Multivariate,Classification,Categorical,339,1988
382,Eco-hotel,Text,,,401,2017
483,Hepatitis C Virus (HCV) for Egyptian patients,Multivariate,Classification,"Integer, Real",1385,2019
328,Smartphone-Based Recognition of Human Activiti...,"Multivariate, Time-Series",Classification,Real,10929,2015
398,IDA2016Challenge,Multivariate,Classification,Integer,76000,2017
505,Crop mapping using fused optical-radar data set,"Multivariate, Time-Series",Classification,Real,325834,2020
474,Wave Energy Converters,Multivariate,Regression,Real,288000,2019
420,Container Crane Controller Data Set,"Univariate, Domain-Theory","Classification, Regression",Real,15,2018